* {
    box-sizing: border-box;    
}

html, body {
    margin: 0;
    width: 310px;
    height: 550px;
    background-color: var(--wallpaper);
    color: var(--textMain);
    transition: all .5s;
}

header {
    margin: 0 8px;
    transition: all .5s;
}

label h2 {
    margin: 0 8px;
    transition: all .5s;
}

.left {
    float: left;
}

.right {
    float: right;
}

.content {
    margin: 8px;
    width: 294px;

    &#selectTheme {
        height: 150px;
    }

    .color-box {
        width: 147px;
        height: 100%;
    }

    .color-box--label--checkbox {
        display: none;

        &:checked + .color-box--label .color-box--inner {
            border-color: var(--favoColor);
        }
    }
      
    .color-box--label {
        font-size: 16px;
        color: var(--textMain);
        transition: all .5s;
    }
    
    .color-box--inner {
        margin: 0 4px;
        border: 2px solid var(--borderline);
        border-radius: 10px;
        width: 139px;
        height: 100px;
        transition: all .5s;

        &:hover {
            // border-color: var(--tLightBlue);
            box-shadow: var(--shadow);
        }

        &.light {
            background-color: #fff;
        }

        &.darkBlue {
            background-color: #15202b;
        }
    }
}

.color-circle {
    margin-left: 6px;
}

.color-circle--radio {
    display: none;
    width: 42px;
    height: 42px;

    &:checked + .color-circle--label:after {
        opacity: 1;
    }
}

.color-circle--label {
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background-color: white;
    }

    &:after {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;        
        display: block;
        width: 20px;
        height: 12px;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        transform: rotate(-45deg);
        opacity: 0;
    }

    &.lightBlue:before {
        background-color: var(--tLightBlue);        
    }

    &.lightBlue:hover:before {
        background-color: var(--tLightBlueOn);
    }
    
    &.yellow:before {
        background-color: var(--tYellow);        
    }

    &.yellow:hover:before {
        background-color: var(--tYellowOn);
    }    

    &.pink:before {
        background-color: var(--tPink);        
    }

    &.pinke:hover:before {
        background-color: var(--tPinkOn);
    }    

    &.purple:before {
        background-color: var(--tPurple);        
    }

    &.purple:hover:before {
        background-color: var(--tPurpleOn);
    }    

    &.orange:before {
        background-color: var(--tOrange);        
    }

    &.orange:hover:before {
        background-color: var(--tOrangeOn);
    }    

    &.lightGreen:before {
        background-color: var(--tLightGreen);        
    }

    &.lightGreen:hover:before {
        background-color: var(--tLightGreenOn);
    }    
}