::-webkit-scrollbar {
  width: 15px !important;
  height: 15px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: var(--textMain) !important;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--textMainDis) !important;
}

body {
  background: var(--wallpaper) !important;
}

body, input, button {
  color: var(--textMain) !important;
}

a {
  color: var(--tLightBlue) !important;
}

a:visited {
  color: var(--tPurple) !important;
}

hr {
  border-color: var(--borderline) !important;
}

.iv236 {
  color: var(--textGray) !important;
}

a.MV3Tnb {
  color: var(--textMainDis) !important;
}

a.gb_d, span.gb_d {
  color: var(--textMainDis) !important;
}

#gb {
  background-color: transparent !important;
}

.gb_na svg, .gb_Dc svg, .gb_0c .gb_2d, .gb_Pc .gb_2d {
  color: var(--textGray) !important;
}

.gb_yc .gb_Qe.gb_Re button:hover svg, .gb_Qe button:hover svg, .gb_A:hover {
  background-color: var(--itemHighlight) !important;
}

.gb_6d:not(.gb_0) {
  background: var(--mainBtn) !important;
}

.gb_6d:not(.gb_0):hover {
  background: var(--mainBtnOn) !important;
}

#gb a.gb_1.gb_1 {
  color: var(--mainBtnTxt) !important;
}

.lnXdpd {
  display: none !important;
}

.o3j99.LLD4me {
  -webkit-transition: all .5s;
  transition: all .5s;
  background: var(--favoColor) !important;
  mask-image: url("/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png") !important;
  mask-size: 272px 92px !important;
  mask-repeat: no-repeat !important;
  mask-position: bottom center !important;
  -webkit-mask-image: url("/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png") !important;
  -webkit-mask-size: 272px 92px !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-position: bottom center !important;
}

.RNNXgb {
  background: var(--inputField) !important;
  border: 1px solid var(--inputField) !important;
}

.RNNXgb:hover {
  background: var(--inputField) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: var(--inputField) !important;
}

.emcav .RNNXgb {
  border-color: var(--favoColor) !important;
  background: var(--wallpaper) !important;
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
  z-index: 2 !important;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.QCzoEc {
  color: var(--textGray) !important;
}

.ExCKkf {
  color: var(--textGray) !important;
}

.aajZCb {
  background: var(--wallpaper) !important;
  border: 1px solid var(--borderline) !important;
  border-top: 0px solid transparent !important;
  border-radius: 24px !important;
  -webkit-box-shadow: var(--shadow) !important;
          box-shadow: var(--shadow) !important;
}

.UUbT9 {
  z-index: 0 !important;
}

.xtSCL {
  border-top: 1px solid var(--borderline) !important;
  background: var(--wallpaper) !important;
  border-top-color: var(--favoColor) !important;
}

.wM6W7d {
  color: var(--textMain) !important;
}

.sbhl {
  background: var(--itemHighlight) !important;
}

.ynRric {
  color: var(--textGray) !important;
}

.lJ9FBc input[type="submit"], .gbqfba {
  background-color: var(--subBtn) !important;
  border: var(--subBtn) !important;
  color: var(--subBtnTxt) !important;
}

.lJ9FBc input[type="submit"]:hover, .gbqfba:hover {
  background-color: var(--subBtnOn) !important;
}

.c93Gbe {
  background: transparent !important;
}

.uU7dJb {
  border-top: 1px solid var(--borderline) !important;
  border-bottom: 1px solid var(--borderline) !important;
  color: var(--textGray) !important;
}

a.pHiOh {
  color: var(--textGray) !important;
}

a.EzVRq, button.EzVRq {
  color: var(--textGray) !important;
}

.sfbg {
  background: var(--wallpaper) !important;
}

.minidiv .sfbg {
  background: var(--wallpaperBlur) !important;
  -webkit-backdrop-filter: blur(12px) !important;
          backdrop-filter: blur(12px) !important;
}

#logo img, .logo a img {
  opacity: 0 !important;
}

.SuUcIb {
  display: none !important;
}

.logo {
  background: var(--favoColor) !important;
  mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
  mask-repeat: no-repeat !important;
  mask-size: 92px 30px !important;
  mask-position: center bottom !important;
  -webkit-mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-size: 92px 30px !important;
  -webkit-mask-position: center bottom !important;
}

.z1asCe svg {
  color: var(--textGray) !important;
}

.yg51vc {
  background: var(--wallpaper) !important;
}

.hdtb-mitem.hdtb-msel {
  color: var(--textMain) !important;
  font-weight: bold !important;
}

.hdtb-mitem.hdtb-msel:hover {
  background: var(--itemHighlight) !important;
  -webkit-transition-duration: 0s !important;
          transition-duration: 0s !important;
}

.hdtb-mitem.hdtb-msel .YTDezd {
  background: var(--favoColor) !important;
}

.hdtb-mitem a {
  color: var(--textGray) !important;
}

.hdtb-mitem a:hover {
  background: var(--itemHighlight) !important;
}

.hdtb-mitem g-popup .rIbAWc .GOE98c {
  color: var(--textGray) !important;
}

.rIbAWc:hover {
  background: var(--itemHighlight) !important;
}

.t2vtad {
  border: 1px solid var(--borderline) !important;
  color: var(--textGray) !important;
}

.t2vtad:not(.hdtb-tl-sel):hover {
  background-color: var(--itemHighlight) !important;
  background-image: none !important;
}

.GLcBOb {
  border-bottom: 1px solid var(--borderline) !important;
}

.appbar {
  background: var(--wallpaper) !important;
}

.LHJvCe {
  color: var(--textMainDis) !important;
}

.dG2XIf {
  background: var(--card) !important;
}

.akqY6 {
  background: var(--borderline) !important;
}

.KFFQ0c .YfftMc, .KFFQ0c .YfftMc span, .KFFQ0c .YfftMc div, .KFFQ0c .YfftMc a {
  color: var(--textGray) !important;
}

cite, cite a:link, cite a:visited {
  color: var(--textMain) !important;
}

.dyjrff {
  color: var(--textMainDis) !important;
}

.GHDvEf, .GHDvEf:hover, .GHDvEf.selected, .GHDvEf.selected:hover {
  background-color: transparent !important;
}

.action-menu .gTl8xb {
  border-color: var(--textGray) transparent !important;
}

.yDYNvb.lyLwlc {
  color: var(--textMainDis) !important;
}

.WZ8Tjf {
  color: var(--textMainDis) !important;
}

.yXK7lf em {
  color: var(--textMain) !important;
}

.usJj9c .zz3gNc {
  color: var(--textMainDis) !important;
}

.ZE0LJd {
  color: var(--textGray) !important;
}

.FzCfme {
  color: var(--textMainDis) !important;
}

.hMJ0yc {
  color: var(--textGray) !important;
}

.NaCKVc {
  border: 1px solid var(--textGrayMarked) !important;
  background: var(--textGrayMarked) !important;
  color: var(--textGray) !important;
}

.AUiS2 {
  border: 1px solid var(--card) !important;
  background: var(--card) !important;
}

.eJ7tvc, .O3JH7 {
  color: var(--textGray) !important;
}

.XCKyNd {
  background: var(--textGray) !important;
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22%23000000%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M38%2012.83L35.17%2010%2024%2021.17%2012.83%2010%2010%2012.83%2021.17%2024%2010%2035.17%2012.83%2038%2024%2026.83%2035.17%2038%2038%2035.17%2026.83%2024z%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48H0z%22%20fill%3D%22none%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22%23000000%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M38%2012.83L35.17%2010%2024%2021.17%2012.83%2010%2010%2012.83%2021.17%2024%2010%2035.17%2012.83%2038%2024%2026.83%2035.17%2038%2038%2035.17%2026.83%2024z%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48H0z%22%20fill%3D%22none%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-position: center !important;
}

.ZkkK1e {
  background: transparent !important;
  border: 1px solid var(--borderline) !important;
  color: var(--textMain) !important;
}

.ZkkK1e:hover {
  background: var(--itemHighlight) !important;
}

.KPV9xf, .HErFVb {
  background: transparent !important;
  border: 1px solid var(--borderline) !important;
}

.KPV9xf:hover, .HErFVb:hover {
  background: var(--itemHighlight) !important;
}

.fWhgmd {
  background-color: transparent !important;
}

.oySJpc {
  border-top-color: var(--borderline) !important;
}

.YsGUOb {
  background: var(--textGray) !important;
  mask-image: url('data:image/svg+xml,<svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgba(0,0,0,.54)" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>');
  -webkit-mask-image: url('data:image/svg+xml,<svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgba(0,0,0,.54)" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>');
}

.YrbPuc, .qHx7jd {
  color: var(--textGray) !important;
}

.z8gr9e {
  color: var(--textMainDis) !important;
}

.pb5vrc {
  background-color: var(--borderline) !important;
}

.MXl0lf {
  background: var(--wallpaper) !important;
  border: 1px solid var(--borderline) !important;
}

.MXl0lf:hover {
  background: var(--cardHighlight) !important;
}

.wUrVib {
  color: var(--tLightBlue) !important;
}

.GmE3X {
  color: var(--textMain) !important;
}

.WlydOe .ynAwRc {
  color: var(--tLightBlue) !important;
}

.WlydOe .ynAwRc:visited {
  color: var(--tPurple) !important;
}

.WlydOe .NUnG9d {
  color: var(--textMain) !important;
}

.WlydOe .NUnG9d {
  color: var(--textGray) !important;
}

.aNytqb .rKnmn, .RzdJxc {
  border-top-color: var(--borderline) !important;
}

.ynAwRc {
  color: var(--tLightBlue) !important;
}

.ynAwRc:visited {
  color: var(--tPurple) !important;
}

.k8XOCe {
  background-color: var(--subBtn) !important;
}

.k8XOCe:hover {
  background: var(--subBtnOn) !important;
}

.k8XOCe .s75CSd.OhScic.AB4Wff {
  color: var(--subBtnTxt) !important;
}

.aXBZVd {
  background: var(--textGray) !important;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat !important;
  mask-position: center;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-position: center;
}

.k8XOCe.R0xfCb.VCOFK.s8bAkb {
  color: var(--subBtnTxt) !important;
}

.GmE3X {
  color: var(--textGray);
}

title-with-lhs-icon:hover .ekf0x .GmE3X {
  color: var(--favoColor) !important;
}

.YyVfkd {
  color: var(--textMain) !important;
}

.TQc1id .I6TXqe {
  border: 1px solid var(--card) !important;
  background: var(--card) !important;
}

.TQc1id .I6TXqe .kno-ecr-pt, .TQc1id .I6TXqe .LrzXr, .TQc1id .I6TXqe .garHBe, .TQc1id .I6TXqe .Ss2Faf, .TQc1id .I6TXqe .b4vunb a, .TQc1id .I6TXqe .xEzgBc {
  color: var(--textMain) !important;
}

.TQc1id .I6TXqe .wwUB2c, .TQc1id .I6TXqe .w8qArf .fl, .TQc1id .I6TXqe .r3IKmc, .TQc1id .I6TXqe .z8gr9e, .TQc1id .I6TXqe .IRH78d, .TQc1id .I6TXqe .vk_gy, .TQc1id .I6TXqe .xlBGCb {
  color: var(--textGray) !important;
}

.TQc1id .I6TXqe .HsZQAe {
  border-color: var(--borderline) !important;
}

.TQc1id .I6TXqe .hb8SAc {
  color: var(--textMainDis) !important;
}

.TQc1id .I6TXqe .SW5pqf, .TQc1id .I6TXqe .TYiug {
  color: var(--tLightBlue) !important;
}

.TQc1id .I6TXqe .d7sCQ {
  border-bottom-color: var(--borderline) !important;
}

.TQc1id .I6TXqe .ab_button {
  background-color: var(--subBtn) !important;
  background-image: none !important;
  border-color: var(--subBtn) !important;
  color: var(--subBtnTxt) !important;
}

.TQc1id .I6TXqe .ab_button:hover {
  background-color: var(--subBtnOn) !important;
}

.H73aad {
  background: transparent !important;
  border-color: var(--borderline) !important;
}

.H73aad .jleFbf {
  color: var(--textGray) !important;
}

.H73aad:hover {
  background: var(--itemHighlight) !important;
}

.kno-ftr.rpBMYb {
  color: var(--textGray) !important;
}

.aUSklf {
  border-top-color: var(--borderline) !important;
}

.ez8jFf {
  border-left-color: var(--borderline) !important;
}

.uo4vr {
  color: var(--textGray) !important;
}

.zf84ud.THG0oc.cv2VAd {
  border-color: var(--card) !important;
  background: var(--card) !important;
}

.zf84ud.THG0oc.cv2VAd .aMAfLd .Brgz0.tw-res .rmxqbe.ol1Lrb .kLhEKe {
  background-color: transparent !important;
}

.zf84ud.THG0oc.cv2VAd .aMAfLd .Brgz0.tw-res .rmxqbe.ol1Lrb .kLhEKe .Ywxp6b {
  color: var(--textGray) !important;
}

.zf84ud.THG0oc.cv2VAd .aMAfLd .Brgz0.tw-res .rmxqbe.ol1Lrb .kLhEKe .f {
  color: var(--textGray) !important;
}

#fbar {
  background: var(--wallpaper) !important;
}

#fbar .b2hzT {
  border-top: 1px solid var(--borderline) !important;
  border-bottom: 1px solid var(--borderline) !important;
}

#fbar .b2hzT #Wprf1b {
  color: var(--textMainDis) !important;
}

#fbar .b2hzT .KwU3F, #fbar .b2hzT .xSQxL {
  color: var(--tLightBlue) !important;
}

#fbar .b2hzT .b0KoTc {
  color: var(--textGray) !important;
}

#fbar .b2hzT .b0KoTc #swml {
  border-left: 1px solid var(--borderline) !important;
}

#fbar .b2hzT .b0KoTc .smiUbb {
  color: var(--textMainDis) !important;
}

#fbar .b2hzT .b0KoTc #tsuid17 .rwA8ec.HDOrGf.GNm3Qb a {
  color: var(--textGray) !important;
}

#fbar .b2hzT .b0KoTc #tsuid17 .rwA8ec.HDOrGf.GNm3Qb a .GNm3Qb .unknown_loc {
  background: var(--textGray) !important;
}

#fbar .fbar .B4GxFc #fsl a {
  color: var(--textGray) !important;
}

a.Ui8XNb, .uquUgf a {
  color: var(--textGray) !important;
}

.ftSUBd {
  border-color: var(--card) !important;
  background: var(--card) !important;
}

.ftSUBd div div .WlydOe .vJOb1e.QH4RGe.aIfcHf .iRPxbe .CEMjEf.NUnG9d {
  color: var(--textMain) !important;
}

.ftSUBd div div .WlydOe .vJOb1e.QH4RGe.aIfcHf .iRPxbe .y355M {
  color: var(--textMain) !important;
}

.ftSUBd div div .WlydOe .vJOb1e.QH4RGe.aIfcHf .iRPxbe .y355M:hover {
  color: var(--favoColor) !important;
}

.ftSUBd div div .WlydOe .vJOb1e.QH4RGe.aIfcHf .iRPxbe .GI74Re {
  color: var(--textMainDis) !important;
}

.f6F9Be {
  border-top-color: var(--borderline) !important;
}

.Uroaid {
  color: var(--textMainDis) !important;
}

.Zg1NU, .P7xzyf {
  color: var(--textGray) !important;
}

.N6pxec .QKLM0d {
  color: var(--mainBtnTxt) !important;
}

.N6pxec .cbjjnc {
  background: var(--favoColor) !important;
}

.N6pxec .cbjjnc:hover {
  background: var(--favoColorOn) !important;
}

.N6pxec .Gfzyee {
  border-color: var(--favoColor) !important;
}

.F7UV7d {
  background: var(--textGray) !important;
  mask-image: url("https://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png") !important;
  mask-repeat: no-repeat !important;
  mask-size: 24px !important;
  -webkit-mask-image: url("https://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png") !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-size: 24px !important;
}

.s8GCU {
  background: var(--wallpaper) !important;
}

.Lj9fsd {
  background: var(--wallpaper) !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .nmU53 .Wdq1db .qlS7ne .ZbYMvd {
  background: var(--favoColor) !important;
  mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
  mask-repeat: no-repeat !important;
  mask-size: 92px 30px !important;
  mask-position: center bottom !important;
  -webkit-mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-size: 92px 30px !important;
  -webkit-mask-position: center bottom !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .nmU53 .Wdq1db .qlS7ne .ZbYMvd a img {
  opacity: 0 !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .o6juZc {
  border-color: var(--inputField) !important;
  background: var(--inputField) !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b.M3w8Nb .o6juZc {
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
  border-color: var(--favoColor) !important;
  background: var(--wallpaper) !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .Bhmw4 .W6pGoe {
  background: var(--wallpaper) !important;
  border-radius: 24px !important;
  border-top-color: var(--favoColor) !important;
  -webkit-box-shadow: var(--shadow) !important;
          box-shadow: var(--shadow) !important;
  padding-bottom: 24px !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .Bhmw4 .W6pGoe .WdWr7c {
  border-top-color: var(--favoColor) !important;
  margin: 0 19px !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .Bhmw4 .W6pGoe .V9Qhd.qXwNf .cylkX .x0KADb .CuUtHc .ewEc5c .QBbk2d .sU3bKf {
  color: var(--textMain) !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .Bhmw4 .W6pGoe .V9Qhd.qXwNf .cylkX .x0KADb .CuUtHc.zP7KFe {
  background: var(--itemHighlight) !important;
}

.Lj9fsd .Si7Nvc.UBOWLe .LEv8df .KQsPse .gbZSUe {
  color: var(--textGray) !important;
}

.jZWadf {
  background: var(--wallpaper) !important;
}

.jZWadf .tAcEof .O850f .iSZmU .T47uwc .NZmxZe {
  color: var(--textGray) !important;
}

.jZWadf .tAcEof .O850f .iSZmU .T47uwc .NZmxZe:hover {
  background: var(--itemHighlight) !important;
}

.jZWadf .tAcEof .O850f .iSZmU .T47uwc .NZmxZe.rQEFy {
  color: var(--textMain) !important;
  font-weight: bold !important;
  border-bottom-color: var(--favoColor) !important;
}

.jZWadf .tAcEof .PAYrJc .ssfWCe .PNyWAd {
  color: var(--textGray) !important;
}

.jZWadf .tAcEof .PAYrJc .ssfWCe .PNyWAd:hover {
  background: var(--itemHighlight) !important;
}

.jZWadf .tAcEof .PAYrJc .ssfWCe .ZXJQ7c {
  border-color: var(--borderline) !important;
}

.jZWadf .cj2HCb .O0MX5d.jklcHd .gYZlAf.EQ9CR .SPmIAf {
  color: var(--textGray) !important;
}
