::-webkit-scrollbar {
    width: 15px !important;
    height: 15px !important;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: var(--textMain) !important;
    border-radius: 8px;

    &:hover {
        background: var(--textMainDis) !important;
    }
}

body {
    background: var(--wallpaper) !important;
}

body, input, button {
    color: var(--textMain) !important;
}

a {
    color: var(--tLightBlue) !important;

    &:visited {
        color: var(--tPurple) !important;
    }
}
hr {
    border-color: var(--borderline) !important;
}

//画像svg
.iv236 {
    color: var(--textGray) !important;
}

//google.com/
//googleについて, ストア
a.MV3Tnb {
    color: var(--textMainDis) !important;
}

//Gmail, 画像
a.gb_d, span.gb_d {
    color: var(--textMainDis) !important;
}

//ダークモードのときの長方形
#gb {
    background-color: transparent !important;
}

//Googleアプリボタン
.gb_na svg, .gb_Dc svg, .gb_0c .gb_2d, .gb_Pc .gb_2d {
    color: var(--textGray) !important;
}

.gb_yc .gb_Qe.gb_Re button:hover svg, .gb_Qe button:hover svg, .gb_A:hover {
    background-color: var(--itemHighlight) !important;
}

//ログインボタン
.gb_6d:not(.gb_0) {
    background: var(--mainBtn) !important;

    &:hover {
        background: var(--mainBtnOn) !important;
    }
}

#gb a.gb_1.gb_1 {
    color: var(--mainBtnTxt) !important;
}

//Google ロゴ
//もとのロゴを消す
.lnXdpd {
    display: none !important;
}

//ロゴをマスクする
.o3j99.LLD4me/*.yr19Zb.LS8OJ, .o3j99.LLD4me.LS8OJ*/ {
    transition: all .5s;
    background: var(--favoColor) !important;
    mask-image: url("/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png") !important;
    mask-size: 272px 92px !important;
    mask-repeat: no-repeat !important;
    mask-position: bottom center !important;
        -webkit-mask-image: url("/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png") !important;      
        -webkit-mask-size: 272px 92px !important;
        -webkit-mask-repeat: no-repeat !important;
        -webkit-mask-position: bottom center !important;
}

//検索欄
.RNNXgb {
    background: var(--inputField) !important;
    border: 1px solid var(--inputField) !important;

    &:hover {
        background: var(--inputField) !important;
        box-shadow: none !important;
        border-color: var(--inputField) !important;
    }
}

.emcav .RNNXgb {
    border-color: var(--favoColor) !important;
    background: var(--wallpaper) !important;
    border-bottom-left-radius: 24px !important;
    border-bottom-right-radius: 24px !important;
    z-index: 2 !important;
    transition-duration: 0s;
}

//虫眼鏡
.QCzoEc {
    color: var(--textGray) !important;
}

//×マーク
.ExCKkf {
    color: var(--textGray) !important;
}

//検索候補
.aajZCb {
    background: var(--wallpaper) !important;
    border: 1px solid var(--borderline) !important;
    border-top: 0px solid transparent !important;
    border-radius: 24px !important;
    box-shadow: var(--shadow) !important;
}

.UUbT9 {
    z-index: 0 !important;
}

.xtSCL {
    border-top: 1px solid var(--borderline) !important;
    background: var(--wallpaper) !important;
    border-top-color: var(--favoColor) !important;
}

.wM6W7d {
    color: var(--textMain) !important;
}

.sbhl {
    background: var(--itemHighlight) !important;
}

//最近の検索に関連
.ynRric {
    color: var(--textGray) !important;
}

//Google検索, I`m Feeling Lucky etc...
.lJ9FBc input[type="submit"], .gbqfba {
    background-color: var(--subBtn) !important;
    border: var(--subBtn) !important;
    color: var(--subBtnTxt) !important;
    
    &:hover {
        background-color: var(--subBtnOn) !important;
    }
}

//フッター
.c93Gbe {
    background: transparent !important;
}

//上段 
.uU7dJb {
    border-top: 1px solid var(--borderline) !important;
    border-bottom: 1px solid var(--borderline) !important;
    color: var(--textGray) !important;
}

//下段　広告　ビジネス　検索の仕組み　プライバシー　規約　設定
a.pHiOh {
    color: var(--textGray) !important;
}

a.EzVRq, button.EzVRq {
    color: var(--textGray) !important;
}

//https://www.google.com/search/
//ヘッダー
//上段
.sfbg {
    background: var(--wallpaper) !important;
}

.minidiv .sfbg {
    background: var(--wallpaperBlur) !important;
    backdrop-filter: blur(12px) !important;
}


//ロゴ消し
#logo img, .logo a img {
    opacity: 0 !important;
}

.SuUcIb {
    display: none !important;
}

//ロゴ追加
.logo {
    background: var(--favoColor) !important;
    mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
    mask-repeat: no-repeat !important;
    mask-size: 92px 30px !important;
    mask-position: center bottom !important;
    -webkit-mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-size: 92px 30px !important;
    -webkit-mask-position: center bottom !important;
}

//設定ボタン
.z1asCe svg {
    color: var(--textGray) !important;
}

//中段
.yg51vc {
    background: var(--wallpaper) !important;
}


//すべて　画像　動画　地図　ニュース
.hdtb-mitem {
    &.hdtb-msel {
        color: var(--textMain) !important;
        font-weight: bold !important;

        &:hover {
            background: var(--itemHighlight) !important;
            transition-duration: 0s !important;
        }

        & .YTDezd {
            background: var(--favoColor) !important;
        }
    }

    & a {
        color: var(--textGray) !important;

        &:hover {
            background: var(--itemHighlight) !important;
        }
    }

    //もっと見る
    & g-popup .rIbAWc .GOE98c {
        color: var(--textGray) !important;
    }
}

//もっと見る
.rIbAWc {
    &:hover {
        background: var(--itemHighlight) !important;
    }    
}

//ツール
.t2vtad {
    border: 1px solid var(--borderline) !important;
    color: var(--textGray) !important;

    &:not(.hdtb-tl-sel):hover {
        background-color: var(--itemHighlight) !important;
        background-image: none !important;
    }
}

.GLcBOb {
    border-bottom: 1px solid var(--borderline) !important;
}

//下段
.appbar {
    background: var(--wallpaper) !important;
}


//検索結果数
.LHJvCe {
    color: var(--textMainDis) !important;
}

//強調スニペット
.dG2XIf {
    background: var(--card) !important;
}

.akqY6 {
    background: var(--borderline) !important;
}

//強調スニペットについて　フィードバック
.KFFQ0c .YfftMc, .KFFQ0c .YfftMc span, .KFFQ0c .YfftMc div, .KFFQ0c .YfftMc a {
    color: var(--textGray) !important;
}

//検索結果のセル
cite, cite a:link, cite a:visited {
    color: var(--textMain) !important;
}

.dyjrff {
    color: var(--textMainDis) !important;
}

.GHDvEf, .GHDvEf:hover, .GHDvEf.selected, .GHDvEf.selected:hover {
    background-color: transparent !important;
}

.action-menu .gTl8xb {
    border-color: var(--textGray) transparent !important;
}

.yDYNvb.lyLwlc {
    color: var(--textMainDis) !important;
}

.WZ8Tjf {
    color: var(--textMainDis) !important;
}

.yXK7lf em {
    color: var(--textMain) !important;
}

.usJj9c .zz3gNc {
    color: var(--textMainDis) !important;
}

.ZE0LJd {
    color: var(--textGray) !important;
}

.FzCfme {
    color: var(--textMainDis) !important;
}

.hMJ0yc {
    color: var(--textGray) !important;
}

//pdfのタグ
.NaCKVc {
    border: 1px solid var(--textGrayMarked) !important;
    background: var(--textGrayMarked) !important;
    color: var(--textGray) !important;
}

//他の人はこちらも検索
.AUiS2 {
    border: 1px solid var(--card) !important;
    background: var(--card) !important;
}

.eJ7tvc, .O3JH7 {
    color: var(--textGray) !important;
}

.XCKyNd {
    background: var(--textGray) !important;
    mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22%23000000%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M38%2012.83L35.17%2010%2024%2021.17%2012.83%2010%2010%2012.83%2021.17%2024%2010%2035.17%2012.83%2038%2024%2026.83%2035.17%2038%2038%2035.17%2026.83%2024z%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48H0z%22%20fill%3D%22none%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22%23000000%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M38%2012.83L35.17%2010%2024%2021.17%2012.83%2010%2010%2012.83%2021.17%2024%2010%2035.17%2012.83%2038%2024%2026.83%2035.17%2038%2038%2035.17%2026.83%2024z%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48H0z%22%20fill%3D%22none%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-position: center !important;
}

.ZkkK1e {
    background: transparent !important;
    border: 1px solid var(--borderline) !important;
    color: var(--textMain) !important;

    &:hover {
        background: var(--itemHighlight) !important;
    }
}

.KPV9xf, .HErFVb {
    background: transparent !important;
    border: 1px solid var(--borderline) !important;

    &:hover {
        background: var(--itemHighlight) !important;
    }
}

.fWhgmd {
    background-color: transparent !important;
}

.oySJpc {
    border-top-color: var(--borderline) !important;
}

.YsGUOb {
    background: var(--textGray) !important;
    mask-image: url('data:image/svg+xml,\00003csvg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\00003cpath fill="rgba(0,0,0,.54)" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z">\00003c/path>\00003c/svg>');
    -webkit-mask-image: url('data:image/svg+xml,\00003csvg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\00003cpath fill="rgba(0,0,0,.54)" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z">\00003c/path>\00003c/svg>');
}

.YrbPuc, .qHx7jd {
    color: var(--textGray) !important;
}

.z8gr9e {
    color: var(--textMainDis) !important;
}

//すべてを見る
.pb5vrc {
    background-color: var(--borderline) !important;
}

.MXl0lf {
    background: var(--wallpaper) !important;
    border: 1px solid var(--borderline) !important;

    &:hover {
        background: var(--cardHighlight) !important;
    }
}

.wUrVib {
    color: var(--tLightBlue) !important;
}

//トップニュース
.GmE3X {
    color: var(--textMain) !important;
}

.WlydOe {
    & .ynAwRc {
        color: var(--tLightBlue) !important;
    
        &:visited {
            color: var(--tPurple) !important;
        }
    }

    & .NUnG9d {
        color: var(--textMain) !important;
    }

    & .NUnG9d {
        color: var(--textGray) !important;
    }
}

.aNytqb .rKnmn, .RzdJxc {
    border-top-color: var(--borderline) !important;
}

.ynAwRc {
    color: var(--tLightBlue) !important;

    &:visited {
        color: var(--tPurple) !important;
    }
}

//下の方のボタン
.k8XOCe {
    background-color: var(--subBtn) !important;

    &:hover {
        background: var(--subBtnOn) !important;
    }

    & .s75CSd.OhScic.AB4Wff {
        color: var(--subBtnTxt) !important;
    }
}

.aXBZVd {
    background: var(--textGray) !important;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat !important;
    mask-position: center;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-position: center;
}

.k8XOCe.R0xfCb.VCOFK.s8bAkb {
    color: var(--subBtnTxt) !important;
}

.GmE3X {
    color: var(--textGray);

    title-with-lhs-icon:hover .ekf0x & {
        color: var(--favoColor) !important;
    }
}

.YyVfkd {
    color: var(--textMain) !important;
}

//右ペイン
.TQc1id .I6TXqe {
    border: 1px solid var(--card) !important;
    background: var(--card) !important;

    & .kno-ecr-pt, & .LrzXr, & .garHBe, & .Ss2Faf, & .b4vunb a, & .xEzgBc {
        color: var(--textMain) !important;
    }

    & .wwUB2c, & .w8qArf .fl, & .r3IKmc, & .z8gr9e, & .IRH78d, & .vk_gy, & .xlBGCb {
        color: var(--textGray) !important;
    }

    & .HsZQAe {
        border-color: var(--borderline) !important;
    }

    & .hb8SAc {
        color: var(--textMainDis) !important;
    }

    & .SW5pqf, & .TYiug  {
        color: var(--tLightBlue) !important;
    }

    & .d7sCQ {
        border-bottom-color: var(--borderline) !important;
    }

    & .ab_button {
        background-color: var(--subBtn) !important;
        background-image: none !important;
        border-color: var(--subBtn) !important;
        color: var(--subBtnTxt) !important;

        &:hover {
            background-color: var(--subBtnOn) !important;
        }
    }
}

//ナレッジパネルの認証を受ける
.H73aad {
    background: transparent !important;
    border-color: var(--borderline) !important;

    & .jleFbf {
        color: var(--textGray) !important;
    }

    &:hover {
        background: var(--itemHighlight) !important;
    }
}


//フィードバック
.kno-ftr.rpBMYb {
    color: var(--textGray) !important;
}

.aUSklf {
    border-top-color: var(--borderline) !important;
}

.ez8jFf {
    border-left-color: var(--borderline) !important;
}

.uo4vr {
    color: var(--textGray) !important;
}

//ツイッターとかのカード
.zf84ud.THG0oc.cv2VAd {
    border-color: var(--card) !important;
    background: var(--card) !important;

    & .aMAfLd .Brgz0.tw-res .rmxqbe.ol1Lrb .kLhEKe {
        background-color: transparent !important;

        & .Ywxp6b {
            color: var(--textGray) !important;
        }

        & .f {
            color: var(--textGray) !important;
        }
    }
}

//フッダー
#fbar {
    background: var(--wallpaper) !important;

    //上段
    & .b2hzT {
        border-top: 1px solid var(--borderline) !important;
        border-bottom: 1px solid var(--borderline) !important;

        //大体の住所
        & #Wprf1b {
            color: var(--textMainDis) !important;
        }

        //現在のアクティビティに基づく 現在地を更新
        & .KwU3F,& .xSQxL {
            color: var(--tLightBlue) !important;
        }

        //国
        & .b0KoTc {
            color: var(--textGray) !important;

            & #swml {
                border-left: 1px solid var(--borderline) !important;
            }

            & .smiUbb {
                color: var(--textMainDis) !important;
            }

            & #tsuid17 {
                & .rwA8ec.HDOrGf.GNm3Qb a{
                    color: var(--textGray) !important;
    
                    & .GNm3Qb {
                        //●
                        & .unknown_loc {
                            background: var(--textGray) !important;
                        } 
                    } 
                }                
            }
        }
    }

    //下段
    & .fbar .B4GxFc #fsl a {
        color: var(--textGray) !important;
    }
}

//このデータについて　フィードバック
a.Ui8XNb, .uquUgf a {
    color: var(--textGray) !important;
}

//検索結果　ニュース
.ftSUBd {
    border-color: var(--card) !important;
    background: var(--card) !important;

    & div div .WlydOe .vJOb1e.QH4RGe.aIfcHf .iRPxbe {
        & .CEMjEf.NUnG9d {
            color: var(--textMain) !important;
        }

        & .y355M {
            color: var(--textMain) !important;

            &:hover {
                color: var(--favoColor) !important;
            }
        }

        & .GI74Re {
            color: var(--textMainDis) !important;
        }
    }
}

.f6F9Be {
    border-top-color: var(--borderline) !important;
}

//検索結果　動画
.Uroaid {
    color: var(--textMainDis) !important;
}

.Zg1NU, .P7xzyf {
    color: var(--textGray) !important;
}

//アラートを作成ボタン
.N6pxec {
    & .QKLM0d {
        color: var(--mainBtnTxt) !important;
    }

    & .cbjjnc {
        background: var(--favoColor) !important;

        &:hover {
            background: var(--favoColorOn) !important;
        }
    }

    & .Gfzyee {
        border-color: var(--favoColor) !important;
    }
}

//検索結果　画像
//カメラマーク
.F7UV7d {
    background: var(--textGray) !important;
    mask-image: url('https://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png') !important;
    mask-repeat: no-repeat !important;
    mask-size: 24px !important;
    -webkit-mask-image: url('https://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png') !important;
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-size: 24px !important;
}

//ヘッダー
//上段
.s8GCU {
    background: var(--wallpaper) !important;
}

.Lj9fsd {
    background: var(--wallpaper) !important;

    & .FtRlBe {
        & .dAEiw.dXdtIf div .wQnou .jOYx5b {
            //ロゴ
            & .nmU53 .Wdq1db .qlS7ne .ZbYMvd {
                background: var(--favoColor) !important;
                mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
                mask-repeat: no-repeat !important;
                mask-size: 92px 30px !important;
                mask-position: center bottom !important;
                -webkit-mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
                -webkit-mask-repeat: no-repeat !important;
                -webkit-mask-size: 92px 30px !important;
                -webkit-mask-position: center bottom !important;
    
                & a img {
                    opacity: 0 !important;
                }
            }
    
            //検索欄
            & .o6juZc {
                border-color: var(--inputField) !important;
                background: var(--inputField) !important;           
            }
    
            &.M3w8Nb .o6juZc{
                border-bottom-left-radius: 24px !important;
                border-bottom-right-radius: 24px !important;
                border-color: var(--favoColor) !important;
                background: var(--wallpaper) !important;
            }
    
            //検索候補
            & .Bhmw4 .W6pGoe {
                background: var(--wallpaper) !important;
                border-radius: 24px !important;
                border-top-color: var(--favoColor) !important;
                box-shadow: var(--shadow) !important;
                padding-bottom: 24px !important;
    
                & .WdWr7c {
                    border-top-color: var(--favoColor) !important;
                    margin: 0 19px !important;
                }
    
                & .V9Qhd.qXwNf .cylkX .x0KADb .CuUtHc {
                    & .ewEc5c .QBbk2d .sU3bKf {
                        color: var(--textMain) !important;
                    }
    
                    &.zP7KFe {
                        background: var(--itemHighlight) !important;
                    }
                }
            }
        }
    }

    & .Si7Nvc.UBOWLe .LEv8df .KQsPse .gbZSUe{
        color: var(--textGray) !important;
    }
}

//下段
.jZWadf {
    background: var(--wallpaper) !important;

    //左
    & .tAcEof {
        //すべて　ニュース　動画　画像　ショッピング　もっと見る
        & .O850f .iSZmU .T47uwc .NZmxZe {
            color: var(--textGray) !important;

            &:hover {
                background: var(--itemHighlight) !important;
            }

            &.rQEFy {
                color: var(--textMain) !important;
                font-weight: bold !important; 
                border-bottom-color: var(--favoColor) !important;
            }
        }

        //ツール
        & .PAYrJc .ssfWCe {
            & .PNyWAd {
                color: var(--textGray) !important;

                &:hover {
                    background: var(--itemHighlight) !important;
                }
            }

            & .ZXJQ7c {
                border-color: var(--borderline) !important;
            }
        }
    }

    //右
    & .cj2HCb .O0MX5d.jklcHd .gYZlAf.EQ9CR {
        //セーフサーチ
        & .SPmIAf {
            color: var(--textGray) !important;
        }
    }
}