@charset "UTF-8";
::-webkit-scrollbar {
  width: 15px !important;
  height: 15px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: var(--textMain) !important;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--textMainDis) !important;
}

body {
  background: var(--wallpaper) !important;
}

body, input, button {
  color: var(--textMain) !important;
}

a {
  color: var(--tLightBlue) !important;
}

a:visited {
  color: var(--tPurple) !important;
}

hr {
  border-color: var(--borderline) !important;
}

.iv236 {
  color: var(--textGray) !important;
}

a.MV3Tnb {
  color: var(--textMainDis) !important;
}

a.gb_d, span.gb_d {
  color: var(--textMainDis) !important;
}

#gb {
  background-color: transparent !important;
}

.gb_na svg, .gb_Dc svg, .gb_0c .gb_2d, .gb_Pc .gb_2d {
  color: var(--textGray) !important;
}

.gb_yc .gb_Qe.gb_Re button:hover svg, .gb_Qe button:hover svg, .gb_A:hover {
  background-color: var(--itemHighlight) !important;
}

.gb_6d:not(.gb_0) {
  background: var(--mainBtn) !important;
}

.gb_6d:not(.gb_0):hover {
  background: var(--mainBtnOn) !important;
}

#gb a.gb_1.gb_1 {
  color: var(--mainBtnTxt) !important;
}

.lnXdpd {
  display: none !important;
}

.o3j99.LLD4me {
  -webkit-transition: all .5s;
  transition: all .5s;
  background: var(--favoColor) !important;
  mask-image: url("/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png") !important;
  mask-size: 272px 92px !important;
  mask-repeat: no-repeat !important;
  mask-position: bottom center !important;
  -webkit-mask-image: url("/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png") !important;
  -webkit-mask-size: 272px 92px !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-position: bottom center !important;
}

.RNNXgb {
  background: var(--inputField) !important;
  border: 1px solid var(--inputField) !important;
}

.RNNXgb:hover {
  background: var(--inputField) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: var(--inputField) !important;
}

.emcav .RNNXgb {
  border-color: var(--favoColor) !important;
  background: var(--wallpaper) !important;
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
  z-index: 2 !important;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.QCzoEc {
  color: var(--textGray) !important;
}

.ExCKkf {
  color: var(--textGray) !important;
}

.aajZCb {
  background: var(--wallpaper) !important;
  border: 1px solid var(--borderline) !important;
  border-top: 0px solid transparent !important;
  border-radius: 24px !important;
  -webkit-box-shadow: var(--shadow) !important;
          box-shadow: var(--shadow) !important;
}

.UUbT9 {
  z-index: 0 !important;
}

.xtSCL {
  border-top: 1px solid var(--borderline) !important;
  background: var(--wallpaper) !important;
  border-top-color: var(--favoColor) !important;
}

.wM6W7d {
  color: var(--textMain) !important;
}

.sbhl {
  background: var(--itemHighlight) !important;
}

.mus_tt17 {
  color: var(--textGray) !important;
}

.ynRric {
  color: var(--textGray) !important;
}

.lJ9FBc input[type="submit"], .gbqfba {
  background-color: var(--subBtn) !important;
  border: var(--subBtn) !important;
  color: var(--subBtnTxt) !important;
}

.lJ9FBc input[type="submit"]:hover, .gbqfba:hover {
  background-color: var(--subBtnOn) !important;
}

.c93Gbe {
  background: transparent !important;
}

.uU7dJb {
  border-top: 1px solid var(--borderline) !important;
  border-bottom: 1px solid var(--borderline) !important;
  color: var(--textGray) !important;
}

a.pHiOh {
  color: var(--textGray) !important;
}

a.EzVRq, button.EzVRq {
  color: var(--textGray) !important;
}

.sfbg {
  background: var(--wallpaper) !important;
}

.minidiv .sfbg {
  background: var(--wallpaperBlur) !important;
  -webkit-backdrop-filter: blur(12px) !important;
          backdrop-filter: blur(12px) !important;
}

#logo img, .logo a img {
  opacity: 0 !important;
}

.SuUcIb {
  display: none !important;
}

.logo {
  background: var(--favoColor) !important;
  mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
  mask-repeat: no-repeat !important;
  mask-size: 92px 30px !important;
  mask-position: center bottom !important;
  -webkit-mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-size: 92px 30px !important;
  -webkit-mask-position: center bottom !important;
}

.z1asCe svg {
  color: var(--textGray) !important;
}

.yg51vc {
  background: var(--wallpaper) !important;
}

.hdtb-mitem.hdtb-msel {
  color: var(--textMain) !important;
  font-weight: bold !important;
}

.hdtb-mitem.hdtb-msel:hover {
  background: var(--itemHighlight) !important;
  -webkit-transition-duration: 0s !important;
          transition-duration: 0s !important;
}

.hdtb-mitem.hdtb-msel .YTDezd {
  background: var(--favoColor) !important;
}

.hdtb-mitem a {
  color: var(--textGray) !important;
}

.hdtb-mitem a:hover {
  background: var(--itemHighlight) !important;
}

.hdtb-mitem g-popup .rIbAWc .GOE98c {
  color: var(--textGray) !important;
}

.rIbAWc:hover {
  background: var(--itemHighlight) !important;
}

.t2vtad {
  border: 1px solid var(--borderline) !important;
  color: var(--textGray) !important;
}

.t2vtad:not(.hdtb-tl-sel):hover {
  background-color: var(--itemHighlight) !important;
  background-image: none !important;
}

.GLcBOb {
  border-bottom: 1px solid var(--borderline) !important;
}

.appbar {
  background: var(--wallpaper) !important;
}

.LHJvCe {
  color: var(--textMainDis) !important;
}

g-card {
  border: 1px solid var(--tOrange) !important;
  background: var(--card) !important;
}

g-card .Vn5wtb div .WxYNlf, g-card .Vn5wtb div .KtvGCc {
  color: var(--textMain) !important;
}

.TADXpd {
  color: var(--tLightBlue) !important;
}

.G0nQ7b {
  color: var(--tRed) !important;
}

.dG2XIf {
  background: var(--card) !important;
}

.akqY6 {
  background: var(--borderline) !important;
}

.KFFQ0c .YfftMc, .KFFQ0c .YfftMc span, .KFFQ0c .YfftMc div, .KFFQ0c .YfftMc a {
  color: var(--textGray) !important;
}

cite, cite a:link, cite a:visited {
  color: var(--textMain) !important;
}

.dyjrff {
  color: var(--textMainDis) !important;
}

.GHDvEf, .GHDvEf:hover, .GHDvEf.selected, .GHDvEf.selected:hover {
  background-color: transparent !important;
}

.action-menu .gTl8xb {
  border-color: var(--textGray) transparent !important;
}

.yDYNvb.lyLwlc {
  color: var(--textMainDis) !important;
}

.WZ8Tjf {
  color: var(--textMainDis) !important;
}

.yXK7lf em {
  color: var(--textMain) !important;
}

.usJj9c .zz3gNc {
  color: var(--textMainDis) !important;
}

.ZE0LJd {
  color: var(--textGray) !important;
}

.FzCfme {
  color: var(--textMainDis) !important;
}

.hMJ0yc {
  color: var(--textGray) !important;
}

.IsZvec, .GELlw {
  color: var(--textMainDis) !important;
}

.U3A9Ac {
  background-color: transparent !important;
  color: var(--textGray) !important;
}

.qzEoUe {
  color: var(--textMain) !important;
}

.NaCKVc {
  border: 1px solid var(--textGrayMarked) !important;
  background: var(--textGrayMarked) !important;
  color: var(--textGray) !important;
}

.AUiS2 {
  border: 1px solid var(--card) !important;
  background: var(--card) !important;
}

.eJ7tvc, .O3JH7 {
  color: var(--textGray) !important;
}

.XCKyNd {
  background: var(--textGray) !important;
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22%23000000%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M38%2012.83L35.17%2010%2024%2021.17%2012.83%2010%2010%2012.83%2021.17%2024%2010%2035.17%2012.83%2038%2024%2026.83%2035.17%2038%2038%2035.17%2026.83%2024z%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48H0z%22%20fill%3D%22none%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22%23000000%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M38%2012.83L35.17%2010%2024%2021.17%2012.83%2010%2010%2012.83%2021.17%2024%2010%2035.17%2012.83%2038%2024%2026.83%2035.17%2038%2038%2035.17%2026.83%2024z%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48H0z%22%20fill%3D%22none%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-position: center !important;
}

.ZkkK1e {
  background: transparent !important;
  border: 1px solid var(--borderline) !important;
  color: var(--textMain) !important;
}

.ZkkK1e:hover {
  background: var(--itemHighlight) !important;
}

.KPV9xf, .HErFVb {
  background: transparent !important;
  border: 1px solid var(--borderline) !important;
}

.KPV9xf:hover, .HErFVb:hover {
  background: var(--itemHighlight) !important;
}

.fWhgmd {
  background-color: transparent !important;
}

.oySJpc {
  border-top-color: var(--borderline) !important;
}

.YsGUOb {
  background: var(--textGray) !important;
  mask-image: url('data:image/svg+xml,<svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgba(0,0,0,.54)" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>');
  -webkit-mask-image: url('data:image/svg+xml,<svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgba(0,0,0,.54)" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>');
}

.YrbPuc, .qHx7jd {
  color: var(--textGray) !important;
}

.z8gr9e {
  color: var(--textMainDis) !important;
}

.pb5vrc {
  background-color: var(--borderline) !important;
}

.MXl0lf {
  background: var(--wallpaper) !important;
  border: 1px solid var(--borderline) !important;
}

.MXl0lf::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 36px;
  border-radius: 18px;
  background: var(--itemHighlight) !important;
  opacity: 0;
}

.MXl0lf:hover::after {
  opacity: 1;
}

.wUrVib {
  color: var(--tLightBlue) !important;
}

.GmE3X {
  color: var(--textMain) !important;
}

.WlydOe .ynAwRc {
  color: var(--tLightBlue) !important;
}

.WlydOe .ynAwRc:visited {
  color: var(--tPurple) !important;
}

.WlydOe .NUnG9d {
  color: var(--textMain) !important;
}

.WlydOe .NUnG9d {
  color: var(--textGray) !important;
}

.aNytqb .rKnmn, .RzdJxc {
  border-top-color: var(--borderline) !important;
}

.ynAwRc {
  color: var(--tLightBlue) !important;
}

.ynAwRc:visited {
  color: var(--tPurple) !important;
}

.j1iyq {
  border-color: var(--borderline) !important;
}

.j1iyq .source-language, .j1iyq .target-language {
  color: var(--textGray) !important;
}

.m1hag {
  background: var(--card) !important;
  border-radius: 8px !important;
}

.m1hag .tw-ta-container textarea {
  color: var(--textMain) !important;
}

.m1hag .tw-ta-container .tw-text-small {
  color: var(--textGray) !important;
}

.QXzCSe {
  color: var(--textGray) !important;
}

.tw-bilingual-pos {
  color: var(--textGray) !important;
}

.SvKTZc {
  color: var(--textMain) !important;
}

.MaH2Hf {
  color: var(--textMainDis) !important;
}

.bHOicb {
  color: var(--textGray) !important;
  border-color: var(--borderline) !important;
}

.tw-bilingual-marked {
  border-left-color: var(--favoColor) !important;
}

.k8XOCe {
  background-color: var(--subBtn) !important;
}

.k8XOCe:hover {
  background: var(--subBtnOn) !important;
}

.k8XOCe .s75CSd.OhScic.AB4Wff {
  color: var(--subBtnTxt) !important;
}

.aXBZVd {
  background: var(--textGray) !important;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat !important;
  mask-position: center;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-position: center;
}

.k8XOCe.R0xfCb.VCOFK.s8bAkb {
  color: var(--subBtnTxt) !important;
}

.GmE3X {
  color: var(--textGray);
}

title-with-lhs-icon:hover .ekf0x .GmE3X {
  color: var(--favoColor) !important;
}

.YyVfkd {
  color: var(--textMain) !important;
}

.TIGsTb {
  border-color: var(--card) !important;
  background: var(--card) !important;
}

.TIGsTb.lqyc1 {
  border-color: var(--card) !important;
  background: var(--itemHighlight) !important;
}

.TIGsTb .XH1CIc {
  color: var(--textMainDis) !important;
}

.zRQJhd {
  background-color: transparent !important;
}

.AOvabd, .dxp44d {
  background: var(--divHighlight) !important;
  color: var(--textMain) !important;
  border-color: var(--borderline) !important;
}

.AOvabd:hover, .dxp44d:hover {
  background: var(--divHighlightDouble) !important;
}

.MEdqYd, .feqqG {
  background: transparent !important;
  color: var(--textMainDis) !important;
  border-color: var(--borderline) !important;
}

.MEdqYd:hover, .feqqG:hover {
  background: var(--itemHighlight) !important;
}

.pno7A.rfUaPd .Tqvz7b, .pno7A.hU1rMc .SwDSDf, .pno7A.hU1rMc .Tqvz7b, .pno7A.rfUaPd .SwDSDf {
  color: var(--textMainDis) !important;
}

.UUhRt {
  background: var(--mainBtn) !important;
  color: var(--mainBtnTxt) !important;
  border-color: var(--mainBtn) !important;
}

.UUhRt:hover {
  background: var(--mainBtnOn) !important;
}

.c07z9 a, .c07z9 a:active, .c07z9 a:link {
  color: var(--textMainDis) !important;
  -webkit-text-decoration-color: var(--textMainDis) !important;
          text-decoration-color: var(--textMainDis) !important;
}

.c07z9 {
  color: var(--textMainDis) !important;
}

.brWULd .vfmVQ {
  border-color: var(--borderline) !important;
}

.brWULd .fjnQw, .brWULd .nIW5Sd, .brWULd .byDyWd {
  background: var(--favoColor) !important;
  background-image: none !important;
}

.brWULd .fjnQw {
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cG9seWdvbiBmaWxsPSIjMUE3M0U4IiBwb2ludHM9IjIuNzUgOC4yNSAyLjc1IDEzLjc1IDYuNDE3IDEzLjc1IDExIDE4LjMzMyAxMSAzLjY2NyA2LjQxNyA4LjI1IiAvPgo8L3N2Zz4K") !important;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cG9seWdvbiBmaWxsPSIjMUE3M0U4IiBwb2ludHM9IjIuNzUgOC4yNSAyLjc1IDEzLjc1IDYuNDE3IDEzLjc1IDExIDE4LjMzMyAxMSAzLjY2NyA2LjQxNyA4LjI1IiAvPgo8L3N2Zz4K") !important;
}

.brWULd .nIW5Sd {
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cGF0aCBkPSJNMTUuMTI1LDExIEMxNS4xMjUsOS4zNzc1IDE0LjE5LDcuOTg0MTY2NjcgMTIuODMzMzMzMyw3LjMwNTgzMzMzIEwxMi44MzMzMzMzLDE0LjY4NSBDMTQuMTksMTQuMDE1ODMzMyAxNS4xMjUsMTIuNjIyNSAxNS4xMjUsMTEgWiIgZmlsbD0iIzFBNzNFOCIgZmlsbC1ydWxlPSJldmVub2RkIiAvPgo8L3N2Zz4K") !important;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cGF0aCBkPSJNMTUuMTI1LDExIEMxNS4xMjUsOS4zNzc1IDE0LjE5LDcuOTg0MTY2NjcgMTIuODMzMzMzMyw3LjMwNTgzMzMzIEwxMi44MzMzMzMzLDE0LjY4NSBDMTQuMTksMTQuMDE1ODMzMyAxNS4xMjUsMTIuNjIyNSAxNS4xMjUsMTEgWiIgZmlsbD0iIzFBNzNFOCIgZmlsbC1ydWxlPSJldmVub2RkIiAvPgo8L3N2Zz4K") !important;
}

.brWULd .byDyWd {
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cGF0aCBkPSJNMTIuODMzMzMzMywyLjk2MDgzMzMzIEwxMi44MzMzMzMzLDQuODQ5MTY2NjcgQzE1LjQ4MjUsNS42Mzc1IDE3LjQxNjY2NjcsOC4wOTQxNjY2NyAxNy40MTY2NjY3LDExIEMxNy40MTY2NjY3LDEzLjkwNTgzMzMgMTUuNDgyNSwxNi4zNjI1IDEyLjgzMzMzMzMsMTcuMTUwODMzMyBMMTIuODMzMzMzMywxOS4wMzkxNjY3IEMxNi41MDkxNjY3LDE4LjIwNSAxOS4yNSwxNC45MjMzMzMzIDE5LjI1LDExIEMxOS4yNSw3LjA3NjY2NjY3IDE2LjUwOTE2NjcsMy43OTUgMTIuODMzMzMzMywyLjk2MDgzMzMzIFoiIGZpbGw9IiMxQTczRTgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz4KPC9zdmc+Cg==") !important;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cGF0aCBkPSJNMTIuODMzMzMzMywyLjk2MDgzMzMzIEwxMi44MzMzMzMzLDQuODQ5MTY2NjcgQzE1LjQ4MjUsNS42Mzc1IDE3LjQxNjY2NjcsOC4wOTQxNjY2NyAxNy40MTY2NjY3LDExIEMxNy40MTY2NjY3LDEzLjkwNTgzMzMgMTUuNDgyNSwxNi4zNjI1IDEyLjgzMzMzMzMsMTcuMTUwODMzMyBMMTIuODMzMzMzMywxOS4wMzkxNjY3IEMxNi41MDkxNjY3LDE4LjIwNSAxOS4yNSwxNC45MjMzMzMzIDE5LjI1LDExIEMxOS4yNSw3LjA3NjY2NjY3IDE2LjUwOTE2NjcsMy43OTUgMTIuODMzMzMzMywyLjk2MDgzMzMzIFoiIGZpbGw9IiMxQTczRTgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz4KPC9zdmc+Cg==") !important;
}

.brWULd:hover {
  background-color: var(--itemHighlight) !important;
}

.c8d6zd {
  color: var(--textMain) !important;
}

.mfsgsd, .ubHt5c, html .vk_gy {
  color: var(--textMainDis) !important;
}

.X61Xb .TVSh {
  background: transparent !important;
}

.X61Xb .TVSh:hover {
  background: var(--itemHighlight) !important;
}

.X61Xb .LiOdre {
  border-color: var(--borderline) !important;
}

.X61Xb option {
  background: var(--card) !important;
  color: var(--textMain) !important;
}

.cfBJGe {
  color: var(--tLightBlue) !important;
}

a.oBa0Fe {
  color: var(--textGray) !important;
}

.ULSxyf .vZFyxc {
  background: transparent !important;
}

.ULSxyf .B3iKkd {
  border-top-color: var(--borderline) !important;
}

.ULSxyf .f3LoEf {
  color: var(--textMain) !important;
  text-decoration: none;
  -webkit-text-decoration-color: var(--textMain) !important;
          text-decoration-color: var(--textMain) !important;
}

.ULSxyf .f3LoEf:hover {
  text-decoration: underline;
}

.TQc1id .I6TXqe {
  border: 1px solid var(--card) !important;
  background: var(--card) !important;
}

.TQc1id .I6TXqe .kno-ecr-pt, .TQc1id .I6TXqe .LrzXr, .TQc1id .I6TXqe .garHBe, .TQc1id .I6TXqe .Ss2Faf, .TQc1id .I6TXqe .b4vunb a, .TQc1id .I6TXqe .xEzgBc {
  color: var(--textMain) !important;
}

.TQc1id .I6TXqe .wwUB2c, .TQc1id .I6TXqe .w8qArf .fl, .TQc1id .I6TXqe .r3IKmc, .TQc1id .I6TXqe .z8gr9e, .TQc1id .I6TXqe .IRH78d, .TQc1id .I6TXqe .vk_gy, .TQc1id .I6TXqe .xlBGCb {
  color: var(--textGray) !important;
}

.TQc1id .I6TXqe .HsZQAe {
  border-color: var(--borderline) !important;
}

.TQc1id .I6TXqe .hb8SAc {
  color: var(--textMainDis) !important;
}

.TQc1id .I6TXqe .SW5pqf, .TQc1id .I6TXqe .TYiug {
  color: var(--tLightBlue) !important;
}

.TQc1id .I6TXqe .d7sCQ {
  border-bottom-color: var(--borderline) !important;
}

.TQc1id .I6TXqe .ab_button {
  background-color: var(--subBtn) !important;
  background-image: none !important;
  border-color: var(--subBtn) !important;
  color: var(--subBtnTxt) !important;
}

.TQc1id .I6TXqe .ab_button:hover {
  background-color: var(--subBtnOn) !important;
}

.TQc1id .I6TXqe .rIbAWc {
  height: 36px !important;
}

.TQc1id .I6TXqe .rIbAWc:hover {
  border-radius: 50%;
}

.TQc1id .I6TXqe .YIMUJb[aria-label="高く評価"] {
  fill: var(--tLightGreen) !important;
}

.TQc1id .I6TXqe .YIMUJb[aria-label="低く評価"] {
  fill: var(--tPink) !important;
}

.TQc1id .I6TXqe .Ss2Faf a {
  color: var(--textMain) !important;
}

.TQc1id .I6TXqe .rl_item_base {
  background-color: transparent !important;
  border-color: var(--borderline) !important;
}

.TQc1id .I6TXqe .rl_item_base .title {
  color: var(--textMain) !important;
}

.TQc1id .I6TXqe .Eegi6c {
  color: var(--textMain) !important;
}

.TQc1id .I6TXqe .scrt .YMAGHf {
  border-bottom-color: var(--borderline) !important;
}

.TQc1id .I6TXqe .scrt td {
  border-bottom-color: var(--borderline) !important;
}

.TQc1id .I6TXqe .BfIAp {
  border-color: var(--borderline) !important;
  fill: var(--textGray) !important;
}

.H73aad {
  background: transparent !important;
  border-color: var(--borderline) !important;
}

.H73aad .jleFbf {
  color: var(--textGray) !important;
}

.H73aad:hover {
  background: var(--itemHighlight) !important;
}

.kno-ftr.rpBMYb {
  color: var(--textGray) !important;
}

.aUSklf {
  border-top-color: var(--borderline) !important;
}

.ez8jFf {
  border-left-color: var(--borderline) !important;
}

.uo4vr {
  color: var(--textGray) !important;
}

.cu-container .mnr-c {
  background-color: var(--card) !important;
  border-color: var(--card) !important;
}

.cu-container .MXl0lf::after {
  width: 336px !important;
}

.e10twf {
  color: var(--textGray) !important;
}

.zPEcBd {
  color: var(--textMain) !important;
}

.pla-extensions-container {
  color: var(--textGray) !important;
}

.cYBBsb {
  color: var(--textGray) !important;
}

.pla-hovercard-container {
  background: var(--card) !important;
  border-color: var(--card) !important;
  -webkit-box-shadow: var(--shadow) !important;
          box-shadow: var(--shadow) !important;
}

.qptdjc {
  color: var(--textGray) !important;
}

.uhLbob {
  color: var(--textGray) !important;
}

.g.VKSuxe.LdyFY, .T98FId {
  border: 0px solid transparent !important;
  background: transparent !important;
}

.cv2VAd {
  border-color: var(--borderline) !important;
}

g-inner-card {
  background-color: transparent !important;
}

.cI6Ayb .GJfQob {
  color: var(--textMain) !important;
}

.z235y {
  color: var(--textGray) !important;
}

#rhs block-component .dG2XIf {
  border-color: var(--card) !important;
  background: var(--card) !important;
}

#rhs block-component .nGydZ .garHBe {
  color: var(--textGray) !important;
}

#rhs block-component .y8Jpof.pPLc9e.kpQuGf {
  border-color: var(--borderline) !important;
}

#rhs block-component .k4DMHe .xXEKkb {
  color: var(--textMain) !important;
}

#rhs block-component .y8Jpof:hover {
  background-color: var(--cardHighlight) !important;
}

.zf84ud.THG0oc.cv2VAd {
  border-color: var(--card) !important;
  background: var(--card) !important;
}

.zf84ud.THG0oc.cv2VAd .aMAfLd .Brgz0.tw-res .rmxqbe.ol1Lrb .kLhEKe {
  background-color: transparent !important;
}

.zf84ud.THG0oc.cv2VAd .aMAfLd .Brgz0.tw-res .rmxqbe.ol1Lrb .kLhEKe .Ywxp6b {
  color: var(--textGray) !important;
}

.zf84ud.THG0oc.cv2VAd .aMAfLd .Brgz0.tw-res .rmxqbe.ol1Lrb .kLhEKe .f {
  color: var(--textGray) !important;
}

#fbar {
  background: var(--wallpaper) !important;
}

#fbar .b2hzT {
  border-top: 1px solid var(--borderline) !important;
  border-bottom: 1px solid var(--borderline) !important;
}

#fbar .b2hzT #Wprf1b {
  color: var(--textMainDis) !important;
}

#fbar .b2hzT .KwU3F, #fbar .b2hzT .xSQxL {
  color: var(--tLightBlue) !important;
}

#fbar .b2hzT .b0KoTc {
  color: var(--textGray) !important;
}

#fbar .b2hzT .b0KoTc #swml {
  border-left: 1px solid var(--borderline) !important;
}

#fbar .b2hzT .b0KoTc .smiUbb {
  color: var(--textMainDis) !important;
}

#fbar .b2hzT .b0KoTc #tsuid17 .rwA8ec.HDOrGf.GNm3Qb a {
  color: var(--textGray) !important;
}

#fbar .b2hzT .b0KoTc #tsuid17 .rwA8ec.HDOrGf.GNm3Qb a .GNm3Qb .unknown_loc {
  background: var(--textGray) !important;
}

#fbar .fbar .B4GxFc #fsl a {
  color: var(--textGray) !important;
}

a.Ui8XNb, .uquUgf a {
  color: var(--textGray) !important;
}

.ftSUBd {
  border-color: var(--card) !important;
  background: var(--card) !important;
}

.ftSUBd div div .WlydOe .vJOb1e.QH4RGe.aIfcHf .iRPxbe .CEMjEf.NUnG9d {
  color: var(--textMain) !important;
}

.ftSUBd div div .WlydOe .vJOb1e.QH4RGe.aIfcHf .iRPxbe .y355M {
  color: var(--textMain) !important;
}

.ftSUBd div div .WlydOe .vJOb1e.QH4RGe.aIfcHf .iRPxbe .y355M:hover {
  color: var(--favoColor) !important;
}

.ftSUBd div div .WlydOe .vJOb1e.QH4RGe.aIfcHf .iRPxbe .GI74Re {
  color: var(--textMainDis) !important;
}

.f6F9Be {
  border-top-color: var(--borderline) !important;
}

.Uroaid {
  color: var(--textMainDis) !important;
}

.Zg1NU, .P7xzyf {
  color: var(--textGray) !important;
}

.N6pxec .QKLM0d {
  color: var(--mainBtnTxt) !important;
}

.N6pxec .cbjjnc {
  background: var(--favoColor) !important;
}

.N6pxec .cbjjnc:hover {
  background: var(--favoColorOn) !important;
}

.N6pxec .Gfzyee {
  border-color: var(--favoColor) !important;
}

.F7UV7d {
  background: var(--textGray) !important;
  mask-image: url("https://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png") !important;
  mask-repeat: no-repeat !important;
  mask-size: 24px !important;
  -webkit-mask-image: url("https://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png") !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-size: 24px !important;
}

.s8GCU {
  background: var(--wallpaper) !important;
}

.Lj9fsd {
  background: var(--wallpaper) !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .nmU53 .Wdq1db .qlS7ne .ZbYMvd {
  background: var(--favoColor) !important;
  mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
  mask-repeat: no-repeat !important;
  mask-size: 92px 30px !important;
  mask-position: center bottom !important;
  -webkit-mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-size: 92px 30px !important;
  -webkit-mask-position: center bottom !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .nmU53 .Wdq1db .qlS7ne .ZbYMvd a img {
  opacity: 0 !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .o6juZc {
  border-color: var(--inputField) !important;
  background: var(--inputField) !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b.M3w8Nb .o6juZc {
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
  border-color: var(--favoColor) !important;
  background: var(--wallpaper) !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .Bhmw4 .W6pGoe {
  background: var(--wallpaper) !important;
  border-radius: 24px !important;
  border-top-color: var(--favoColor) !important;
  -webkit-box-shadow: var(--shadow) !important;
          box-shadow: var(--shadow) !important;
  padding-bottom: 24px !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .Bhmw4 .W6pGoe .WdWr7c {
  border-top-color: var(--favoColor) !important;
  margin: 0 19px !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .Bhmw4 .W6pGoe .V9Qhd.qXwNf .cylkX .x0KADb .CuUtHc .ewEc5c .QBbk2d .sU3bKf {
  color: var(--textMain) !important;
}

.Lj9fsd .FtRlBe .dAEiw.dXdtIf div .wQnou .jOYx5b .Bhmw4 .W6pGoe .V9Qhd.qXwNf .cylkX .x0KADb .CuUtHc.zP7KFe {
  background: var(--itemHighlight) !important;
}

.Lj9fsd .Si7Nvc.UBOWLe .LEv8df .KQsPse .gbZSUe {
  color: var(--textGray) !important;
}

.Lj9fsd.DU1Mzb {
  background: var(--wallpaperBlur) !important;
  -webkit-backdrop-filter: blur(12px) !important;
          backdrop-filter: blur(12px) !important;
}

.fSnalc, .ZqPjbb, .oOg6Ne, .aPiskd {
  stroke: var(--favoColor) !important;
}

.jZWadf {
  background: var(--wallpaper) !important;
}

.jZWadf .tAcEof .O850f .iSZmU .T47uwc .NZmxZe {
  color: var(--textGray) !important;
}

.jZWadf .tAcEof .O850f .iSZmU .T47uwc .NZmxZe:hover {
  background: var(--itemHighlight) !important;
}

.jZWadf .tAcEof .O850f .iSZmU .T47uwc .NZmxZe.rQEFy {
  color: var(--textMain) !important;
  font-weight: bold !important;
  border-bottom-color: var(--favoColor) !important;
}

.jZWadf .tAcEof .PAYrJc .ssfWCe .PNyWAd {
  color: var(--textGray) !important;
}

.jZWadf .tAcEof .PAYrJc .ssfWCe .PNyWAd:hover {
  background: var(--itemHighlight) !important;
}

.jZWadf .tAcEof .PAYrJc .ssfWCe .ZXJQ7c {
  border-color: var(--borderline) !important;
}

.jZWadf .cj2HCb .O0MX5d.jklcHd .gYZlAf.EQ9CR .SPmIAf {
  color: var(--textGray) !important;
}

.cEPPT {
  border-bottom-color: var(--borderline) !important;
}

.F9PbJd {
  border-color: var(--borderline) !important;
  color: var(--textMain) !important;
}

.F9PbJd:hover {
  background: var(--itemHighlight) !important;
}

.MSM1fd:hover .wXeWr {
  -webkit-box-shadow: var(--shadow) !important;
          box-shadow: var(--shadow) !important;
}

.WGvvNb {
  color: var(--textMain) !important;
}

.fxgdke {
  color: var(--textGray) !important;
}

.J3Tg1d {
  border-color: var(--borderline) !important;
}

.J3Tg1d .tmS4cc .O8VmIc.a3Wc3 .gadasb {
  color: var(--textGray) !important;
}

.J3Tg1d .tmS4cc .tW8luc div .UwAaac {
  border-top-color: var(--borderline) !important;
  color: var(--textMainDis) !important;
}

.J3Tg1d .tmS4cc .tW8luc div .UwAaac.UwAaac:hover {
  background: var(--itemHighlight) !important;
}

.J3Tg1d .tmS4cc .tW8luc div .UwAaac .W8wzH.rwGmGe {
  color: var(--textMainDis) !important;
}

.J3Tg1d .tmS4cc .tW8luc div .UwAaac .W8wzH.rwGmGe .tRnLkd {
  color: var(--textMainDis) !important;
}

.J3Tg1d .tmS4cc .tW8luc div .UwAaac .W8wzH.rwGmGe .OY7BIe {
  color: var(--textMain) !important;
}

.pnrEfb {
  color: var(--tLightGreen) !important;
}

.mye4qd {
  border-color: var(--subBtn) !important;
  background: var(--subBtn) !important;
  color: var(--subBtnTxt) !important;
}

.mye4qd:hover {
  background: var(--subBtnOn) !important;
}

.K25wae {
  color: var(--textGray) !important;
}

.Pvpvv {
  background: var(--wallpaper) !important;
  border-top-color: var(--borderline) !important;
  color: var(--textGray) !important;
}

.Pvpvv .yQ0wwc .AsZIyf .WuA9jb {
  color: var(--textGray) !important;
}

.YcWSDf {
  background-color: var(--itemHighlight) !important;
  border-color: var(--favoColor) !important;
}

.WaWKOe {
  background-color: var(--wallpaperDark) !important;
  -webkit-box-shadow: inset var(--shadowColor) 0px 0px 15px !important;
          box-shadow: inset var(--shadowColor) 0px 0px 15px !important;
}

.kEwVtd .ag0Tdd {
  background-color: var(--mainBtn) !important;
  color: var(--mainBtnTxt);
}

.kEwVtd .ag0Tdd:hover {
  background-color: var(--mainBtnOn) !important;
}

.cF4V5c {
  background-color: var(--card) !important;
  -webkit-box-shadow: var(--shadow) !important;
          box-shadow: var(--shadow) !important;
}

.ErsxPb {
  border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
}

.ErsxPb.gvybPb, .ErsxPb.ErsxPb:active {
  background-color: var(--cardHighlight) !important;
  border-color: var(--borderline) !important;
}

.Rn1jbe.hieTTe {
  border-color: transparent !important;
  background: transparent !important;
}

.vRPqZd {
  color: var(--textGray) !important;
}

.c76k3e {
  color: var(--textMain) !important;
}

.J0LdHf .G0w7Q {
  color: var(--textGray) !important;
}

.J0LdHf .Is2lAe {
  background-color: transparent !important;
  border: 1px solid var(--borderline) !important;
  color: var(--textGray) !important;
}

.J0LdHf .Is2lAe:hover {
  background: var(--itemHighlight) !important;
}

.jCaeMe {
  background: transparent !important;
  border-color: var(--borderline) !important;
}

.iKMEte {
  color: var(--textMain) !important;
}

.t3Ss7 {
  color: var(--textGray) !important;
}

.nLaBQd {
  color: var(--textMainDis) !important;
}

.xTWJnd {
  color: var(--textGray) !important;
}

.fiEaaf {
  background: var(--wallpaper) !important;
  border: 1px solid var(--borderline) !important;
  -webkit-box-shadow: var(--shadow) !important;
          box-shadow: var(--shadow) !important;
}

.sh-dtt__top-tools {
  color: var(--textGray) !important;
}

.pZMdO .sh-dr__restricts .CV7Lzb {
  color: var(--textGray) !important;
}

.pZMdO .sh-dr__restricts .sh-dr__g {
  border-color: var(--card) !important;
  background: var(--card) !important;
}

.pZMdO .sh-dr__restricts .ELcVZ {
  color: var(--textMain) !important;
}

.pZMdO .sh-dr__restricts .nZbkuc .Kmfmkc {
  background-color: var(--favoColor) !important;
}

.pZMdO .sh-dr__restricts .nZbkuc.OCCxVb {
  border-color: var(--favoColor) !important;
}

.pZMdO .sh-dr__restricts .le3xUb {
  background: var(--favoColor) !important;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuNTkgMTEuNThMMTEuNTkgMi41OEMxMS45NSAyLjIyIDEyLjQ1IDIgMTMgMkgyMEMyMS4xIDIgMjIgMi45IDIyIDRWMTFDMjIgMTEuNTUgMjEuNzggMTIuMDUgMjEuNDEgMTIuNDJMMTIuNDEgMjEuNDJDMTIuMDUgMjEuNzggMTEuNTUgMjIgMTEgMjJDMTAuNDUgMjIgOS45NSAyMS43OCA5LjU5IDIxLjQxTDIuNTkgMTQuNDFDMi4yMiAxNC4wNSAyIDEzLjU1IDIgMTNDMiAxMi40NSAyLjIzIDExLjk0IDIuNTkgMTEuNThaTTExIDIwLjAxTDIwIDExVjRIMTNWMy45OUw0IDEyLjk5TDExIDIwLjAxVjIwLjAxWk0xNiA2LjVDMTYgNy4zMyAxNi42NyA4IDE3LjUgOEMxOC4zMyA4IDE5IDcuMzMgMTkgNi41QzE5IDUuNjcgMTguMzMgNSAxNy41IDVDMTYuNjcgNSAxNiA1LjY3IDE2IDYuNVoiIGZpbGw9IiMxQTczRTgiLz4KPC9zdmc+Cg==") !important;
  mask-repeat: no-repeat !important;
  mask-size: 18px !important;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuNTkgMTEuNThMMTEuNTkgMi41OEMxMS45NSAyLjIyIDEyLjQ1IDIgMTMgMkgyMEMyMS4xIDIgMjIgMi45IDIyIDRWMTFDMjIgMTEuNTUgMjEuNzggMTIuMDUgMjEuNDEgMTIuNDJMMTIuNDEgMjEuNDJDMTIuMDUgMjEuNzggMTEuNTUgMjIgMTEgMjJDMTAuNDUgMjIgOS45NSAyMS43OCA5LjU5IDIxLjQxTDIuNTkgMTQuNDFDMi4yMiAxNC4wNSAyIDEzLjU1IDIgMTNDMiAxMi40NSAyLjIzIDExLjk0IDIuNTkgMTEuNThaTTExIDIwLjAxTDIwIDExVjRIMTNWMy45OUw0IDEyLjk5TDExIDIwLjAxVjIwLjAxWk0xNiA2LjVDMTYgNy4zMyAxNi42NyA4IDE3LjUgOEMxOC4zMyA4IDE5IDcuMzMgMTkgNi41QzE5IDUuNjcgMTguMzMgNSAxNy41IDVDMTYuNjcgNSAxNiA1LjY3IDE2IDYuNVoiIGZpbGw9IiMxQTczRTgiLz4KPC9zdmc+Cg==") !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-size: 18px !important;
}

.pZMdO .sh-dr__restricts .vjtvke, .pZMdO .sh-dr__restricts .vjtvke:link, .pZMdO .sh-dr__restricts .vjtvke:visited {
  color: var(--textMainDis) !important;
}

.pZMdO .sh-dr__restricts .JcqPK {
  border-color: var(--textGray) !important;
}

.pZMdO .sh-dr__restricts .JcqPK.FS9Ovd {
  border-color: var(--favoColor) !important;
}

.pZMdO .sh-dr__restricts .JcqPK .Kmfmkc {
  background: var(--favoColor) !important;
}

.IxCT4b {
  border-top-color: var(--borderline) !important;
}

.dkw61e {
  background-color: var(--wallpaper) !important;
}

.MPFake {
  background: var(--textMain) !important;
  mask-image: url("https://www.google.com/images/nav_logo321.webp") !important;
  mask-repeat: no-repeat !important;
  mask-position: -107px -99px !important;
  -webkit-mask-image: url("https://www.google.com/images/nav_logo321.webp") !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-position: -107px -99px !important;
}

.sh-sp__pswtr a.sh-sp__btn {
  color: var(--textGray) !important;
}

.i0X6df {
  background-color: transparent !important;
  border-color: var(--borderline) !important;
}

.Lq5OHe, .Lq5OHe:link, .Lq5OHe:visited {
  color: var(--textMain) !important;
}

.zLPF4b {
  border-top-color: var(--borderline) !important;
}

.a8Pemb {
  color: var(--textMain) !important;
}

.qNPOEc, .LGq5Zc, .tD1ls, .hahPbb, .VSRd1d {
  color: var(--textGray) !important;
}

.aULzUe {
  color: var(--tLightBlue) !important;
}

.XrAfOe, .bONr3b {
  color: var(--textGray) !important;
}

html .iXEZD {
  color: var(--tLightBlue) !important;
}

html .iXEZD:link, html .iXEZD:visited {
  color: var(--tLightBlue) !important;
}

.Ib8pOd {
  background-color: var(--tLightGreenBg) !important;
  color: var(--tLightGreen) !important;
  border: 1px solid var(--tLightGreen) !important;
}

.VEbNnc {
  color: var(--textMain) !important;
}

.KZmu8e {
  border: 1px solid var(--borderline) !important;
  background: transparent !important;
}

.KZmu8e .sh-np__product-title {
  color: var(--tLightBlue) !important;
}

.KZmu8e .T14wmb {
  color: var(--textMain) !important;
}

.KZmu8e .sh-np__seller-container {
  color: var(--tLightBlue) !important;
}

.KZmu8e .U6puSd {
  color: var(--textGray) !important;
}

.sh-sr__shop-result-group:last-of-type {
  border-bottom-color: var(--borderline) !important;
}

.dyjrff {
  color: var(--textMainDis) !important;
}

.ETWPw {
  border-color: var(--borderline) !important;
}

.VNSPub {
  color: var(--textGray) !important;
}

.cmlJmd {
  color: var(--textMainDis) !important;
}

.VvrH3b {
  border-color: var(--subBtn) !important;
  background: var(--subBtn) !important;
}

.VvrH3b:hover {
  background: var(--subBtnOn) !important;
}

.VvrH3b .x9emld {
  color: var(--subBtnTxt) !important;
}
