::-webkit-scrollbar {
    width: 15px !important;
    height: 15px !important;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: var(--textMain) !important;
    border-radius: 8px;

    &:hover {
        background: var(--textMainDis) !important;
    }
}

body {
    background: var(--wallpaper) !important;
}

body, input, button {
    color: var(--textMain) !important;
}

a {
    color: var(--tLightBlue) !important;

    &:visited {
        color: var(--tPurple) !important;
    }
}
hr {
    border-color: var(--borderline) !important;
}

//画像svg
.iv236 {
    color: var(--textGray) !important;
}

//google.com/
//googleについて, ストア
a.MV3Tnb {
    color: var(--textMainDis) !important;
}

//Gmail, 画像
a.gb_d, span.gb_d {
    color: var(--textMainDis) !important;
}

//ダークモードのときの長方形
#gb {
    background-color: transparent !important;
}

//Googleアプリボタン
.gb_na svg, .gb_Dc svg, .gb_0c .gb_2d, .gb_Pc .gb_2d {
    color: var(--textGray) !important;
}

.gb_yc .gb_Qe.gb_Re button:hover svg, .gb_Qe button:hover svg, .gb_A:hover {
    background-color: var(--itemHighlight) !important;
}

//ログインボタン
.gb_6d:not(.gb_0) {
    background: var(--mainBtn) !important;

    &:hover {
        background: var(--mainBtnOn) !important;
    }
}

#gb a.gb_1.gb_1 {
    color: var(--mainBtnTxt) !important;
}

//Google ロゴ
//もとのロゴを消す
.lnXdpd {
    display: none !important;
}

//ロゴをマスクする
.o3j99.LLD4me/*.yr19Zb.LS8OJ, .o3j99.LLD4me.LS8OJ*/ {
    transition: all .5s;
    background: var(--favoColor) !important;
    mask-image: url("/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png") !important;
    mask-size: 272px 92px !important;
    mask-repeat: no-repeat !important;
    mask-position: bottom center !important;
        -webkit-mask-image: url("/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png") !important;      
        -webkit-mask-size: 272px 92px !important;
        -webkit-mask-repeat: no-repeat !important;
        -webkit-mask-position: bottom center !important;
}

//検索欄
.RNNXgb {
    background: var(--inputField) !important;
    border: 1px solid var(--inputField) !important;

    &:hover {
        background: var(--inputField) !important;
        box-shadow: none !important;
        border-color: var(--inputField) !important;
    }
}

.emcav .RNNXgb {
    border-color: var(--favoColor) !important;
    background: var(--wallpaper) !important;
    border-bottom-left-radius: 24px !important;
    border-bottom-right-radius: 24px !important;
    z-index: 2 !important;
    transition-duration: 0s;
}

//虫眼鏡
.QCzoEc {
    color: var(--textGray) !important;
}

//×マーク
.ExCKkf {
    color: var(--textGray) !important;
}

//検索候補
.aajZCb {
    background: var(--wallpaper) !important;
    border: 1px solid var(--borderline) !important;
    border-top: 0px solid transparent !important;
    border-radius: 24px !important;
    box-shadow: var(--shadow) !important;
}

.UUbT9 {
    z-index: 0 !important;
}

.xtSCL {
    border-top: 1px solid var(--borderline) !important;
    background: var(--wallpaper) !important;
    border-top-color: var(--favoColor) !important;
}

.wM6W7d {
    color: var(--textMain) !important;
}

.sbhl {
    background: var(--itemHighlight) !important;
}

.mus_tt17 {
    color: var(--textGray) !important;
}

//最近の検索に関連
.ynRric {
    color: var(--textGray) !important;
}

//Google検索, I`m Feeling Lucky etc...
.lJ9FBc input[type="submit"], .gbqfba {
    background-color: var(--subBtn) !important;
    border: var(--subBtn) !important;
    color: var(--subBtnTxt) !important;
    
    &:hover {
        background-color: var(--subBtnOn) !important;
    }
}

//フッター
.c93Gbe {
    background: transparent !important;
}

//上段 
.uU7dJb {
    border-top: 1px solid var(--borderline) !important;
    border-bottom: 1px solid var(--borderline) !important;
    color: var(--textGray) !important;
}

//下段　広告　ビジネス　検索の仕組み　プライバシー　規約　設定
a.pHiOh {
    color: var(--textGray) !important;
}

a.EzVRq, button.EzVRq {
    color: var(--textGray) !important;
}

//https://www.google.com/search/
//ヘッダー
//上段
.sfbg {
    background: var(--wallpaper) !important;
}

.minidiv .sfbg {
    background: var(--wallpaperBlur) !important;
    backdrop-filter: blur(12px) !important;
}


//ロゴ消し
#logo img, .logo a img {
    opacity: 0 !important;
}

.SuUcIb {
    display: none !important;
}

//ロゴ追加
.logo {
    background: var(--favoColor) !important;
    mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
    mask-repeat: no-repeat !important;
    mask-size: 92px 30px !important;
    mask-position: center bottom !important;
    -webkit-mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-size: 92px 30px !important;
    -webkit-mask-position: center bottom !important;
}

//設定ボタン
.z1asCe svg {
    color: var(--textGray) !important;
}

//中段
.yg51vc {
    background: var(--wallpaper) !important;
}


//すべて　画像　動画　地図　ニュース
.hdtb-mitem {
    &.hdtb-msel {
        color: var(--textMain) !important;
        font-weight: bold !important;

        &:hover {
            background: var(--itemHighlight) !important;
            transition-duration: 0s !important;
        }

        & .YTDezd {
            background: var(--favoColor) !important;
        }
    }

    & a {
        color: var(--textGray) !important;

        &:hover {
            background: var(--itemHighlight) !important;
        }
    }

    //もっと見る
    & g-popup .rIbAWc .GOE98c {
        color: var(--textGray) !important;
    }
}

//もっと見る
.rIbAWc {
    &:hover {
        background: var(--itemHighlight) !important;
    }    
}

//ツール
.t2vtad {
    border: 1px solid var(--borderline) !important;
    color: var(--textGray) !important;

    &:not(.hdtb-tl-sel):hover {
        background-color: var(--itemHighlight) !important;
        background-image: none !important;
    }
}

.GLcBOb {
    border-bottom: 1px solid var(--borderline) !important;
}

//下段
.appbar {
    background: var(--wallpaper) !important;
}


//検索結果数
.LHJvCe {
    color: var(--textMainDis) !important;
}

//○○の検索結果を表示しています。
g-card {
    border: 1px solid var(--tOrange) !important;
    background: var(--card) !important;

    & .Vn5wtb div {
        & .WxYNlf, & .KtvGCc {
            color: var(--textMain) !important;            
        }
    }
}

.TADXpd {
    color: var(--tLightBlue) !important;
}

.G0nQ7b {
    color: var(--tRed) !important;
}

//強調スニペット
.dG2XIf {
    background: var(--card) !important;
}

.akqY6 {
    background: var(--borderline) !important;
}

//強調スニペットについて　フィードバック
.KFFQ0c .YfftMc, .KFFQ0c .YfftMc span, .KFFQ0c .YfftMc div, .KFFQ0c .YfftMc a {
    color: var(--textGray) !important;
}

//検索結果のセル
cite, cite a:link, cite a:visited {
    color: var(--textMain) !important;
}

.dyjrff {
    color: var(--textMainDis) !important;
}

.GHDvEf, .GHDvEf:hover, .GHDvEf.selected, .GHDvEf.selected:hover {
    background-color: transparent !important;
}

.action-menu .gTl8xb {
    border-color: var(--textGray) transparent !important;
}

.yDYNvb.lyLwlc {
    color: var(--textMainDis) !important;
}

.WZ8Tjf {
    color: var(--textMainDis) !important;
}

.yXK7lf em {
    color: var(--textMain) !important;
}

.usJj9c .zz3gNc {
    color: var(--textMainDis) !important;
}

.ZE0LJd {
    color: var(--textGray) !important;
}

.FzCfme {
    color: var(--textMainDis) !important;
}

.hMJ0yc {
    color: var(--textGray) !important;
}

.IsZvec, .GELlw {
    color: var(--textMainDis) !important;
}

// 広告のタグ
.U3A9Ac {
    background-color: transparent !important;
    color: var(--textGray) !important;
}

.qzEoUe {
    color: var(--textMain) !important;
}

//pdfのタグ
.NaCKVc {
    border: 1px solid var(--textGrayMarked) !important;
    background: var(--textGrayMarked) !important;
    color: var(--textGray) !important;
}

//他の人はこちらも検索
.AUiS2 {
    border: 1px solid var(--card) !important;
    background: var(--card) !important;
}

.eJ7tvc, .O3JH7 {
    color: var(--textGray) !important;
}

.XCKyNd {
    background: var(--textGray) !important;
    mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22%23000000%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M38%2012.83L35.17%2010%2024%2021.17%2012.83%2010%2010%2012.83%2021.17%2024%2010%2035.17%2012.83%2038%2024%2026.83%2035.17%2038%2038%2035.17%2026.83%2024z%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48H0z%22%20fill%3D%22none%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    -webkit-mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2048%2048%22%20fill%3D%22%23000000%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M38%2012.83L35.17%2010%2024%2021.17%2012.83%2010%2010%2012.83%2021.17%2024%2010%2035.17%2012.83%2038%2024%2026.83%2035.17%2038%2038%2035.17%2026.83%2024z%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h48v48H0z%22%20fill%3D%22none%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-position: center !important;
}

.ZkkK1e {
    background: transparent !important;
    border: 1px solid var(--borderline) !important;
    color: var(--textMain) !important;

    &:hover {
        background: var(--itemHighlight) !important;
    }
}

.KPV9xf, .HErFVb {
    background: transparent !important;
    border: 1px solid var(--borderline) !important;

    &:hover {
        background: var(--itemHighlight) !important;
    }
}

.fWhgmd {
    background-color: transparent !important;
}

.oySJpc {
    border-top-color: var(--borderline) !important;
}

.YsGUOb {
    background: var(--textGray) !important;
    mask-image: url('data:image/svg+xml,\00003csvg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\00003cpath fill="rgba(0,0,0,.54)" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z">\00003c/path>\00003c/svg>');
    -webkit-mask-image: url('data:image/svg+xml,\00003csvg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\00003cpath fill="rgba(0,0,0,.54)" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z">\00003c/path>\00003c/svg>');
}

.YrbPuc, .qHx7jd {
    color: var(--textGray) !important;
}

.z8gr9e {
    color: var(--textMainDis) !important;
}

//すべてを見る
.pb5vrc {
    background-color: var(--borderline) !important;
}

.MXl0lf {
    background: var(--wallpaper) !important;
    border: 1px solid var(--borderline) !important;

    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 300px;
        height: 36px;
        border-radius: 18px;
        background: var(--itemHighlight) !important;        
        opacity: 0;
    }

    &:hover::after {
        opacity: 1;
    }
}

.wUrVib {
    color: var(--tLightBlue) !important;
}

//トップニュース
.GmE3X {
    color: var(--textMain) !important;
}

.WlydOe {
    & .ynAwRc {
        color: var(--tLightBlue) !important;
    
        &:visited {
            color: var(--tPurple) !important;
        }
    }

    & .NUnG9d {
        color: var(--textMain) !important;
    }

    & .NUnG9d {
        color: var(--textGray) !important;
    }
}

.aNytqb .rKnmn, .RzdJxc {
    border-top-color: var(--borderline) !important;
}

.ynAwRc {
    color: var(--tLightBlue) !important;

    &:visited {
        color: var(--tPurple) !important;
    }
}

//翻訳結果とかの埋め込み
.j1iyq {
    border-color: var(--borderline) !important;

    & .source-language,  & .target-language{
        color: var(--textGray) !important;
    }
}

.m1hag {
    background: var(--card) !important;
    border-radius: 8px !important;

    & .tw-ta-container {
        & textarea {
            color: var(--textMain) !important;        
        }

        & .tw-text-small {
            color: var(--textGray) !important;
        }
    }
}

//「○○」の翻訳
.QXzCSe {
    color: var(--textGray) !important;
}

.tw-bilingual-pos {
    color: var(--textGray) !important;
}

.SvKTZc {
    color: var(--textMain) !important;
}

.MaH2Hf {
    color: var(--textMainDis) !important;
}

.bHOicb {
    color: var(--textGray) !important;
    border-color: var(--borderline) !important;
}

.tw-bilingual-marked {
    border-left-color: var(--favoColor) !important;
}

//下の方のボタン
.k8XOCe {
    background-color: var(--subBtn) !important;

    &:hover {
        background: var(--subBtnOn) !important;
    }

    & .s75CSd.OhScic.AB4Wff {
        color: var(--subBtnTxt) !important;
    }
}

.aXBZVd {
    background: var(--textGray) !important;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat !important;
    mask-position: center;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-position: center;
}

.k8XOCe.R0xfCb.VCOFK.s8bAkb {
    color: var(--subBtnTxt) !important;
}

.GmE3X {
    color: var(--textGray);

    title-with-lhs-icon:hover .ekf0x & {
        color: var(--favoColor) !important;
    }
}

.YyVfkd {
    color: var(--textMain) !important;
}

//電卓の埋め込み
.TIGsTb {
    border-color: var(--card) !important;
    background: var(--card) !important;

    &.lqyc1 {
        border-color: var(--card) !important;
        background: var(--itemHighlight) !important;
    }

    & .XH1CIc {
        color: var(--textMainDis) !important;
    }
}

.zRQJhd {
    background-color: transparent !important;
}

//電卓ボタン
.AOvabd, .dxp44d {
    background: var(--divHighlight) !important;
    color: var(--textMain) !important;
    border-color: var(--borderline) !important;

    &:hover {
        background: var(--divHighlightDouble) !important;
    }
}

.MEdqYd, .feqqG {
    background: transparent !important;
    color: var(--textMainDis) !important;
    border-color: var(--borderline) !important;

    &:hover {
        background: var(--itemHighlight) !important;
    }
}

.pno7A.rfUaPd .Tqvz7b, .pno7A.hU1rMc .SwDSDf, .pno7A.hU1rMc .Tqvz7b, .pno7A.rfUaPd .SwDSDf {
    color: var(--textMainDis) !important;
}

.UUhRt {
    background: var(--mainBtn) !important;
    color: var(--mainBtnTxt) !important;
    border-color: var(--mainBtn) !important;

    &:hover {
        background: var(--mainBtnOn) !important;
    }
}

//Oxford Languegeの埋め込み
.c07z9 a, .c07z9 a:active, .c07z9 a:link {
    color: var(--textMainDis) !important;
    text-decoration-color: var(--textMainDis) !important;
}

.c07z9 {
    color: var(--textMainDis) !important;
}

//再生ボタン
.brWULd {
    & .vfmVQ {
        border-color: var(--borderline) !important;
    }

    & .fjnQw, & .nIW5Sd, & .byDyWd {
        background: var(--favoColor) !important;
        background-image: none !important;
    }

    & .fjnQw {
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cG9seWdvbiBmaWxsPSIjMUE3M0U4IiBwb2ludHM9IjIuNzUgOC4yNSAyLjc1IDEzLjc1IDYuNDE3IDEzLjc1IDExIDE4LjMzMyAxMSAzLjY2NyA2LjQxNyA4LjI1IiAvPgo8L3N2Zz4K') !important;
        -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cG9seWdvbiBmaWxsPSIjMUE3M0U4IiBwb2ludHM9IjIuNzUgOC4yNSAyLjc1IDEzLjc1IDYuNDE3IDEzLjc1IDExIDE4LjMzMyAxMSAzLjY2NyA2LjQxNyA4LjI1IiAvPgo8L3N2Zz4K') !important;
    }

    & .nIW5Sd {
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cGF0aCBkPSJNMTUuMTI1LDExIEMxNS4xMjUsOS4zNzc1IDE0LjE5LDcuOTg0MTY2NjcgMTIuODMzMzMzMyw3LjMwNTgzMzMzIEwxMi44MzMzMzMzLDE0LjY4NSBDMTQuMTksMTQuMDE1ODMzMyAxNS4xMjUsMTIuNjIyNSAxNS4xMjUsMTEgWiIgZmlsbD0iIzFBNzNFOCIgZmlsbC1ydWxlPSJldmVub2RkIiAvPgo8L3N2Zz4K') !important;
        -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cGF0aCBkPSJNMTUuMTI1LDExIEMxNS4xMjUsOS4zNzc1IDE0LjE5LDcuOTg0MTY2NjcgMTIuODMzMzMzMyw3LjMwNTgzMzMzIEwxMi44MzMzMzMzLDE0LjY4NSBDMTQuMTksMTQuMDE1ODMzMyAxNS4xMjUsMTIuNjIyNSAxNS4xMjUsMTEgWiIgZmlsbD0iIzFBNzNFOCIgZmlsbC1ydWxlPSJldmVub2RkIiAvPgo8L3N2Zz4K') !important;
    }

    & .byDyWd {
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cGF0aCBkPSJNMTIuODMzMzMzMywyLjk2MDgzMzMzIEwxMi44MzMzMzMzLDQuODQ5MTY2NjcgQzE1LjQ4MjUsNS42Mzc1IDE3LjQxNjY2NjcsOC4wOTQxNjY2NyAxNy40MTY2NjY3LDExIEMxNy40MTY2NjY3LDEzLjkwNTgzMzMgMTUuNDgyNSwxNi4zNjI1IDEyLjgzMzMzMzMsMTcuMTUwODMzMyBMMTIuODMzMzMzMywxOS4wMzkxNjY3IEMxNi41MDkxNjY3LDE4LjIwNSAxOS4yNSwxNC45MjMzMzMzIDE5LjI1LDExIEMxOS4yNSw3LjA3NjY2NjY3IDE2LjUwOTE2NjcsMy43OTUgMTIuODMzMzMzMywyLjk2MDgzMzMzIFoiIGZpbGw9IiMxQTczRTgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz4KPC9zdmc+Cg==') !important;
        -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld2JveD0iMCAwIDIyIDIyIj4KICA8cGF0aCBkPSJNMTIuODMzMzMzMywyLjk2MDgzMzMzIEwxMi44MzMzMzMzLDQuODQ5MTY2NjcgQzE1LjQ4MjUsNS42Mzc1IDE3LjQxNjY2NjcsOC4wOTQxNjY2NyAxNy40MTY2NjY3LDExIEMxNy40MTY2NjY3LDEzLjkwNTgzMzMgMTUuNDgyNSwxNi4zNjI1IDEyLjgzMzMzMzMsMTcuMTUwODMzMyBMMTIuODMzMzMzMywxOS4wMzkxNjY3IEMxNi41MDkxNjY3LDE4LjIwNSAxOS4yNSwxNC45MjMzMzMzIDE5LjI1LDExIEMxOS4yNSw3LjA3NjY2NjY3IDE2LjUwOTE2NjcsMy43OTUgMTIuODMzMzMzMywyLjk2MDgzMzMzIFoiIGZpbGw9IiMxQTczRTgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz4KPC9zdmc+Cg==') !important;
    }

    &:hover {
        background-color: var(--itemHighlight) !important;
    }
}

.c8d6zd {
    color: var(--textMain) !important;
}

.mfsgsd, .ubHt5c, html .vk_gy {
    color: var(--textMainDis) !important;
}

//言語を選択ボタン
.X61Xb {
    & .TVSh {
        background: transparent !important;

        &:hover {
            background: var(--itemHighlight) !important;
        }
    }

    & .LiOdre {
        border-color: var(--borderline) !important;
    }

    & option {
        background: var(--card) !important;
        color: var(--textMain) !important;
    }
}

.cfBJGe {
    color: var(--tLightBlue) !important;
}

//フィードバック
a.oBa0Fe {
    color: var(--textGray) !important;
}

//ショッピングの埋め込み
.ULSxyf {
    & .vZFyxc {
        background: transparent !important;
    }

    & .B3iKkd {
        border-top-color: var(--borderline) !important;
    }

    & .f3LoEf {
        color: var(--textMain) !important;
        text-decoration: none;
        text-decoration-color: var(--textMain) !important;

        &:hover {
            text-decoration: underline;            
        }
    }    
}

//右ペイン
.TQc1id .I6TXqe {
    border: 1px solid var(--card) !important;
    background: var(--card) !important;

    & .kno-ecr-pt, & .LrzXr, & .garHBe, & .Ss2Faf, & .b4vunb a, & .xEzgBc {
        color: var(--textMain) !important;
    }

    & .wwUB2c, & .w8qArf .fl, & .r3IKmc, & .z8gr9e, & .IRH78d, & .vk_gy, & .xlBGCb {
        color: var(--textGray) !important;
    }

    & .HsZQAe {
        border-color: var(--borderline) !important;
    }

    & .hb8SAc {
        color: var(--textMainDis) !important;
    }

    & .SW5pqf, & .TYiug  {
        color: var(--tLightBlue) !important;
    }

    & .d7sCQ {
        border-bottom-color: var(--borderline) !important;
    }

    & .ab_button {
        background-color: var(--subBtn) !important;
        background-image: none !important;
        border-color: var(--subBtn) !important;
        color: var(--subBtnTxt) !important;

        &:hover {
            background-color: var(--subBtnOn) !important;
        }
    }

    & .rIbAWc {
        height: 36px !important;

        &:hover {
            border-radius: 50%;
        }
    }

    & .YIMUJb {
        &[aria-label="高く評価"] {
            fill: var(--tLightGreen) !important;
        }

        &[aria-label="低く評価"] {
            fill: var(--tPink) !important;
        }
    }

    & .Ss2Faf a {
        color: var(--textMain) !important;
    }

    & .rl_item_base {
        background-color: transparent !important;
        border-color: var(--borderline) !important;
    }

    & .rl_item_base .title {
        color: var(--textMain) !important;
    }

    & .Eegi6c {
        color: var(--textMain) !important;
    }

    & .scrt .YMAGHf {
        border-bottom-color: var(--borderline) !important;
    }

    .scrt td {
        border-bottom-color: var(--borderline) !important;
    }

    & .BfIAp {
        border-color: var(--borderline) !important;
        fill: var(--textGray) !important;
    }
}

//ナレッジパネルの認証を受ける
.H73aad {
    background: transparent !important;
    border-color: var(--borderline) !important;

    & .jleFbf {
        color: var(--textGray) !important;
    }

    &:hover {
        background: var(--itemHighlight) !important;
    }
}


//フィードバック
.kno-ftr.rpBMYb {
    color: var(--textGray) !important;
}

.aUSklf {
    border-top-color: var(--borderline) !important;
}

.ez8jFf {
    border-left-color: var(--borderline) !important;
}

.uo4vr {
    color: var(--textGray) !important;
}

//こちらを検索しますか
#rhs block-component {
    & .dG2XIf {
        border-color: var(--card) !important;
        background: var(--card) !important;
    }

    & .nGydZ .garHBe {
        color: var(--textGray) !important;
    }

    & .y8Jpof.pPLc9e.kpQuGf {
        border-color: var(--borderline) !important;
    }

    & .k4DMHe .xXEKkb {
        color: var(--textMain) !important;
    }

    .y8Jpof:hover {
    background-color: var(--cardHighlight) !important;
    }
}



//ツイッターとかのカード
.zf84ud.THG0oc.cv2VAd {
    border-color: var(--card) !important;
    background: var(--card) !important;

    & .aMAfLd .Brgz0.tw-res .rmxqbe.ol1Lrb .kLhEKe {
        background-color: transparent !important;

        & .Ywxp6b {
            color: var(--textGray) !important;
        }

        & .f {
            color: var(--textGray) !important;
        }
    }
}

//フッダー
#fbar {
    background: var(--wallpaper) !important;

    //上段
    & .b2hzT {
        border-top: 1px solid var(--borderline) !important;
        border-bottom: 1px solid var(--borderline) !important;

        //大体の住所
        & #Wprf1b {
            color: var(--textMainDis) !important;
        }

        //現在のアクティビティに基づく 現在地を更新
        & .KwU3F,& .xSQxL {
            color: var(--tLightBlue) !important;
        }

        //国
        & .b0KoTc {
            color: var(--textGray) !important;

            & #swml {
                border-left: 1px solid var(--borderline) !important;
            }

            & .smiUbb {
                color: var(--textMainDis) !important;
            }

            & #tsuid17 {
                & .rwA8ec.HDOrGf.GNm3Qb a{
                    color: var(--textGray) !important;
    
                    & .GNm3Qb {
                        //●
                        & .unknown_loc {
                            background: var(--textGray) !important;
                        } 
                    } 
                }                
            }
        }
    }

    //下段
    & .fbar .B4GxFc #fsl a {
        color: var(--textGray) !important;
    }
}

//このデータについて　フィードバック
a.Ui8XNb, .uquUgf a {
    color: var(--textGray) !important;
}

//検索結果　ニュース
.ftSUBd {
    border-color: var(--card) !important;
    background: var(--card) !important;

    & div div .WlydOe .vJOb1e.QH4RGe.aIfcHf .iRPxbe {
        & .CEMjEf.NUnG9d {
            color: var(--textMain) !important;
        }

        & .y355M {
            color: var(--textMain) !important;

            &:hover {
                color: var(--favoColor) !important;
            }
        }

        & .GI74Re {
            color: var(--textMainDis) !important;
        }
    }
}

.f6F9Be {
    border-top-color: var(--borderline) !important;
}

//検索結果　動画
.Uroaid {
    color: var(--textMainDis) !important;
}

.Zg1NU, .P7xzyf {
    color: var(--textGray) !important;
}

//アラートを作成ボタン
.N6pxec {
    & .QKLM0d {
        color: var(--mainBtnTxt) !important;
    }

    & .cbjjnc {
        background: var(--favoColor) !important;

        &:hover {
            background: var(--favoColorOn) !important;
        }
    }

    & .Gfzyee {
        border-color: var(--favoColor) !important;
    }
}

//検索結果　画像
//カメラマーク
.F7UV7d {
    background: var(--textGray) !important;
    mask-image: url('https://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png') !important;
    mask-repeat: no-repeat !important;
    mask-size: 24px !important;
    -webkit-mask-image: url('https://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png') !important;
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-size: 24px !important;
}

//ヘッダー
//上段
.s8GCU {
    background: var(--wallpaper) !important;
}

.Lj9fsd {
    background: var(--wallpaper) !important;

    & .FtRlBe {
        & .dAEiw.dXdtIf div .wQnou .jOYx5b {
            //ロゴ
            & .nmU53 .Wdq1db .qlS7ne .ZbYMvd {
                background: var(--favoColor) !important;
                mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
                mask-repeat: no-repeat !important;
                mask-size: 92px 30px !important;
                mask-position: center bottom !important;
                -webkit-mask-image: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png") !important;
                -webkit-mask-repeat: no-repeat !important;
                -webkit-mask-size: 92px 30px !important;
                -webkit-mask-position: center bottom !important;
    
                & a img {
                    opacity: 0 !important;
                }
            }
    
            //検索欄
            & .o6juZc {
                border-color: var(--inputField) !important;
                background: var(--inputField) !important;           
            }
    
            &.M3w8Nb .o6juZc{
                border-bottom-left-radius: 24px !important;
                border-bottom-right-radius: 24px !important;
                border-color: var(--favoColor) !important;
                background: var(--wallpaper) !important;
            }
    
            //検索候補
            & .Bhmw4 .W6pGoe {
                background: var(--wallpaper) !important;
                border-radius: 24px !important;
                border-top-color: var(--favoColor) !important;
                box-shadow: var(--shadow) !important;
                padding-bottom: 24px !important;
    
                & .WdWr7c {
                    border-top-color: var(--favoColor) !important;
                    margin: 0 19px !important;
                }
    
                & .V9Qhd.qXwNf .cylkX .x0KADb .CuUtHc {
                    & .ewEc5c .QBbk2d .sU3bKf {
                        color: var(--textMain) !important;
                    }
    
                    &.zP7KFe {
                        background: var(--itemHighlight) !important;
                    }
                }
            }
        }
    }

    & .Si7Nvc.UBOWLe .LEv8df .KQsPse .gbZSUe{
        color: var(--textGray) !important;
    }
    
    &.DU1Mzb {
        background: var(--wallpaperBlur) !important;
        backdrop-filter: blur(12px) !important;
    }
}

//ロゴの色を変える
.fSnalc, .ZqPjbb, .oOg6Ne, .aPiskd {
    stroke: var(--favoColor) !important;
}

//下段
.jZWadf {
    background: var(--wallpaper) !important;

    //左
    & .tAcEof {
        //すべて　ニュース　動画　画像　ショッピング　もっと見る
        & .O850f .iSZmU .T47uwc .NZmxZe {
            color: var(--textGray) !important;

            &:hover {
                background: var(--itemHighlight) !important;
            }

            &.rQEFy {
                color: var(--textMain) !important;
                font-weight: bold !important; 
                border-bottom-color: var(--favoColor) !important;
            }
        }

        //ツール
        & .PAYrJc .ssfWCe {
            & .PNyWAd {
                color: var(--textGray) !important;

                &:hover {
                    background: var(--itemHighlight) !important;
                }
            }

            & .ZXJQ7c {
                border-color: var(--borderline) !important;
            }
        }
    }

    //右
    & .cj2HCb .O0MX5d.jklcHd .gYZlAf.EQ9CR {
        //セーフサーチ
        & .SPmIAf {
            color: var(--textGray) !important;
        }
    }
}

.cEPPT {
    border-bottom-color: var(--borderline) !important;
}

.F9PbJd {
    border-color: var(--borderline) !important;
    color: var(--textMain) !important;

    &:hover {
        background: var(--itemHighlight) !important;
    }
}

.MSM1fd:hover .wXeWr {
    box-shadow: var(--shadow) !important;
}

.WGvvNb {
    color: var(--textMain) !important;
}

.fxgdke {
    color: var(--textGray) !important;
}

//関連キーワード 
.J3Tg1d {
    border-color: var(--borderline) !important;

    & .tmS4cc {
        & .O8VmIc.a3Wc3 .gadasb {
            color: var(--textGray) !important;
        }

        & .tW8luc div .UwAaac {
            border-top-color: var(--borderline) !important;
            color: var(--textMainDis) !important;
            
            &.UwAaac:hover {
                background: var(--itemHighlight) !important;
            }

            & .W8wzH.rwGmGe{
                color: var(--textMainDis) !important;
                & .tRnLkd {
                    color: var(--textMainDis) !important;
                }
    
                & .OY7BIe {
                    color: var(--textMain) !important;
                }
            }
        }
    }
}

//在庫あり
.pnrEfb {
    color: var(--tLightGreen) !important;
}

//結果をもっと表示。
.mye4qd {
    border-color: var(--subBtn) !important;
    background: var(--subBtn) !important;
    color: var(--subBtnTxt) !important;

    &:hover {
        background: var(--subBtnOn) !important;
    }
}

//未読はありません
.K25wae {
    color: var(--textGray) !important;
}

//フッター
.Pvpvv {
    background: var(--wallpaper) !important;
    border-top-color: var(--borderline) !important;
    color: var(--textGray) !important;

    & .yQ0wwc {
        //上段
        // & .p1wuWb {}

        //下段
        & .AsZIyf .WuA9jb {
            color: var(--textGray) !important;
        }
    }
}

.YcWSDf {
    background-color: var(--itemHighlight) !important;
    border-color: var(--favoColor) !important;
}

//画像クリック時の右ペイン
.WaWKOe {
    background-color: var(--wallpaperDark) !important;
    box-shadow: inset var(--shadowColor) 0px 0px 15px !important;
}

.kEwVtd .ag0Tdd {
    background-color: var(--mainBtn) !important;
    color: var(--mainBtnTxt);

    &:hover {
        background-color: var(--mainBtnOn) !important;
    }
}

//もっと見る
.cF4V5c {
    background-color: var(--card) !important;
    box-shadow: var(--shadow) !important;
}

.ErsxPb {
    border: 1px solid transparent;
    border-left-width: 0;
    border-right-width: 0;    

    &.gvybPb, &.ErsxPb:active {
        background-color: var(--cardHighlight) !important;
        border-color: var(--borderline) !important;
    }
}

//検索結果 ショッピング

.sh-dtt__top-tools {
    color: var(--textGray) !important;
}

//左ペイン
.pZMdO .sh-dr__restricts {
    & .CV7Lzb {
        color: var(--textGray) !important;
    }

    & .sh-dr__g {
        border-color: var(--card) !important;
        background: var(--card) !important;
    }

    & .ELcVZ {
        color: var(--textMain) !important;
    }

    & .nZbkuc .Kmfmkc {
        background-color: var(--favoColor) !important;
    }

    & .nZbkuc.OCCxVb {
        border-color: var(--favoColor) !important;
    }

    & .le3xUb {
        background: var(--favoColor) !important;
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuNTkgMTEuNThMMTEuNTkgMi41OEMxMS45NSAyLjIyIDEyLjQ1IDIgMTMgMkgyMEMyMS4xIDIgMjIgMi45IDIyIDRWMTFDMjIgMTEuNTUgMjEuNzggMTIuMDUgMjEuNDEgMTIuNDJMMTIuNDEgMjEuNDJDMTIuMDUgMjEuNzggMTEuNTUgMjIgMTEgMjJDMTAuNDUgMjIgOS45NSAyMS43OCA5LjU5IDIxLjQxTDIuNTkgMTQuNDFDMi4yMiAxNC4wNSAyIDEzLjU1IDIgMTNDMiAxMi40NSAyLjIzIDExLjk0IDIuNTkgMTEuNThaTTExIDIwLjAxTDIwIDExVjRIMTNWMy45OUw0IDEyLjk5TDExIDIwLjAxVjIwLjAxWk0xNiA2LjVDMTYgNy4zMyAxNi42NyA4IDE3LjUgOEMxOC4zMyA4IDE5IDcuMzMgMTkgNi41QzE5IDUuNjcgMTguMzMgNSAxNy41IDVDMTYuNjcgNSAxNiA1LjY3IDE2IDYuNVoiIGZpbGw9IiMxQTczRTgiLz4KPC9zdmc+Cg==') !important;
        mask-repeat: no-repeat !important;
        mask-size: 18px !important;
        -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuNTkgMTEuNThMMTEuNTkgMi41OEMxMS45NSAyLjIyIDEyLjQ1IDIgMTMgMkgyMEMyMS4xIDIgMjIgMi45IDIyIDRWMTFDMjIgMTEuNTUgMjEuNzggMTIuMDUgMjEuNDEgMTIuNDJMMTIuNDEgMjEuNDJDMTIuMDUgMjEuNzggMTEuNTUgMjIgMTEgMjJDMTAuNDUgMjIgOS45NSAyMS43OCA5LjU5IDIxLjQxTDIuNTkgMTQuNDFDMi4yMiAxNC4wNSAyIDEzLjU1IDIgMTNDMiAxMi40NSAyLjIzIDExLjk0IDIuNTkgMTEuNThaTTExIDIwLjAxTDIwIDExVjRIMTNWMy45OUw0IDEyLjk5TDExIDIwLjAxVjIwLjAxWk0xNiA2LjVDMTYgNy4zMyAxNi42NyA4IDE3LjUgOEMxOC4zMyA4IDE5IDcuMzMgMTkgNi41QzE5IDUuNjcgMTguMzMgNSAxNy41IDVDMTYuNjcgNSAxNiA1LjY3IDE2IDYuNVoiIGZpbGw9IiMxQTczRTgiLz4KPC9zdmc+Cg==') !important;
        -webkit-mask-repeat: no-repeat !important;
        -webkit-mask-size: 18px !important;
    }

    & .vjtvke, .vjtvke:link, & .vjtvke:visited {
        color: var(--textMainDis) !important;
    }

    & .JcqPK {
        border-color: var(--textGray) !important;

        &.FS9Ovd {
            border-color: var(--favoColor) !important;
        }

        .Kmfmkc {
            background: var(--favoColor) !important;
        }
    }
}

.IxCT4b {
    border-top-color: var(--borderline) !important;
}

.dkw61e {
    background-color: var(--wallpaper) !important;
}

.MPFake {
    background: var(--textMain) !important;
    mask-image: url('https://www.google.com/images/nav_logo321.webp') !important;
    mask-repeat: no-repeat !important;
    mask-position: -107px -99px !important;
    -webkit-mask-image: url('https://www.google.com/images/nav_logo321.webp') !important;
    -webkit-mask-repeat: no-repeat !important;
    -webkit-mask-position: -107px -99px !important;
}

.sh-sp__pswtr a.sh-sp__btn {
    color: var(--textGray) !important;
}

.i0X6df {
    background-color: transparent !important;
    border-color: var(--borderline) !important;
}

.Lq5OHe, .Lq5OHe:link, .Lq5OHe:visited {
    color: var(--textMain) !important;
}

.zLPF4b {
    border-top-color: var(--borderline) !important;
}

.a8Pemb {
    color: var(--textMain) !important;
}

.qNPOEc, .LGq5Zc, .tD1ls, .hahPbb, .VSRd1d {
    color: var(--textGray) !important;
}

.aULzUe {
    color: var(--tLightBlue) !important;
}

.XrAfOe, .bONr3b {
    color: var(--textGray) !important;
}

html .iXEZD {
    color: var(--tLightBlue) !important;

    &:link, &:visited {
        color: var(--tLightBlue) !important;
    }
}

.Ib8pOd {
    background-color: var(--tLightGreenBg) !important;
    color: var(--tLightGreen) !important;
    border: 1px solid var(--tLightGreen) !important;
}

.VEbNnc {
    color: var(--textMain) !important;
}

.KZmu8e {
    border: 1px solid var(--borderline) !important;
    background: transparent !important;

    & .sh-np__product-title {
        color: var(--tLightBlue) !important;
    }

    & .T14wmb {
        color: var(--textMain) !important;
    }

    & .sh-np__seller-container {
        color: var(--tLightBlue) !important;
    }

    & .U6puSd {
        color: var(--textGray) !important;
    }
}

.sh-sr__shop-result-group:last-of-type {
    border-bottom-color: var(--borderline) !important;
}