/* ↓↓ 固定ヘッダー ↓↓ */
.o365sx-navbar {
    background-color: var(--wallpaper) !important;
    /* background-position: left top;
    background-repeat-x: repeat;
    background-image: none; */
}

.o365cs-base .o365sx-waffle {
    color: var(--textSub) !important;
    background-color: var(--wallpaper) !important;
}
.o365cs-base .o365sx-button:hover {
    background-color: var(--divHighlight) !important;
    /* color: #FFFFFF; */
}

.o365cs-base .o365sx-appName, .o365cs-base .o365sx-appName:visited {
    color: var(--textMain) !important;
    background-color: var(--wallpaper) !important;
}
.o365cs-base .o365sx-button {
    color: var(--textSub) !important;
    background-color: var(--wallpaper) !important;
}

html[dir] ._1A9lFx5niCDFyCH8SSaY2- {
    background: var(--wallpaper) !important;
    /* border-radius: 0; */
}

div#o365header {
    border-bottom: 1px solid var(--borderline) !important;
}

html[dir] ._2BJrr7ZW18iMaVb_GyqbrA {
    background: var(--inputField) !important;
}

._3wQTSNV_3E8J5WJX_ST4dS .root-177 {
    background: var(--inputField) !important;
}

._3wQTSNV_3E8J5WJX_ST4dS, ._231rMGbGJh2cPjlcdh6XgV, .wHVbNv440WYk_q_vyOUnk {
    color: var(--textSub) !important;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 16px;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px; */
}

.dropdown-234 {
    color: var(--textSub) !important;
    border: 1px solid var(--tLightBlue) !important;
    border-right-width: 0px !important;
    /* box-shadow: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Yu Gothic UI", "Meiryo UI", Meiryo, "MS Pgothic", Osaka, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    border-color: var(--neutralSecondary);
    position: relative;
    outline: 0px;
    user-select: none; */
}

html[dir] ._1UdOoVoWm0GAi3-FgPl1js {
    background-color: transparent !important;
    /* background: none;
    border: none;
    padding-bottom: 0;
    padding-top: 0; */
}

html[dir] .xXen4f5RvBWqdMmwenc53 {
    background-color: var(--inputField) !important;
    /* border: 0;
    text-align: center; */
}

.caretDown-250 {
    color: var(--textSub) !important;
    /* display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-family: controlIcons;
    font-size: 16px;
    pointer-events: none; */
}

.dropdown-234:hover .ms-Dropdown-title {
    color: var(--textSub) !important;
    border-color: transparent !important;
    background-color: var(--divHighlight) !important;
}

.zvHNjoYTCEdTz-cz8aFbr {
    color: var(--textMain) !important;
    /* z-index: 1; */
}

html[dir] ._2BJrr7ZW18iMaVb_GyqbrA:focus-within {
    background: var(--wallpaper) !important;
}

._235mcfnXWsRI2u15SM34fb._2dkRc_3TcIEkbyBHRTBilK:focus-within {
    border: 1px solid var(--tLightBlue) !important;
    border-width: 1px 0 1px 0 !important;
}

.dropdown-227 {
    color: var(--textSub) !important;
    border-color: var(--inputField) !important;
    /* box-shadow: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Yu Gothic UI", "Meiryo UI", Meiryo, "MS Pgothic", Osaka, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    position: relative;
    outline: 0px;
    user-select: none; */
}

._1A9lFx5niCDFyCH8SSaY2- {
    color: var(--textSub) !important;
    /* width: 48px;
    height: 48px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative; */
}

html[dir] ._1K60rcUoF-ZNXPf1_pGTrF {
    background-color: transparent !important;
    /* background: none;
    border: none;
    padding-bottom: 0;
    padding-top: 0; */
}

._1K60rcUoF-ZNXPf1_pGTrF {
    color: var(--textSub) !important;
    /* color: inherit;
    font: inherit;
    cursor: pointer;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 16px;
    height: 100%;
    width: 32px; */
}

._9dA_xr3vzsMBc_EllUzxD {
    color: var(--textSub) !important;
}

.dropdown-583 {
    color: var(--textSub) !important;
    /* box-shadow: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Yu Gothic UI", "Meiryo UI", Meiryo, "MS Pgothic", Osaka, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    border-color: var(--neutralSecondary);
    position: relative;
    outline: 0px;
    user-select: none; */
}

.dropdown-583:hover .ms-Dropdown-title {
    color: var(--textMainDis) !important;
    /* border-color: var(--neutralPrimary); */
}

.caretDown-585 {
    color: var(--textSub) !important;
    /* display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-family: controlIcons;
    font-size: 16px;
    pointer-events: none; */
}

.dropdown-583:hover .caretDown-585 {
    color: var(--textMainDis) !important;
}

._1htvc5m-0WoXMAUtDIUnYG {
    color: var(--textSub) !important;
    /* -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 16px;
    height: 100%;
    width: 44px; */
}

html[dir] ._1K60rcUoF-ZNXPf1_pGTrF {
    background-color: var(--inputField) !important;
    /* background: none;
    border: none;
    padding-bottom: 0;
    padding-top: 0; */
}

button.ms-Button.ms-Button--icon._1K60rcUoF-ZNXPf1_pGTrF.root-174 {
    background: var(--inputField) !important;
}
/* 固定ヘッダー ↑↑ */

/* ↓↓ 検索候補 ↓↓ */
#searchSuggestionsCallout .ms-Callout-main{
    background-color: var(--wallpaper) !important;
    border: 1px solid var(--tLightBlue) !important;
    box-shadow: var(--shadow) !important;
    /* overflow: hidden auto;
    position: relative;
    width: 100%;
    border-radius: 2px; */
}

._3cKIRFOnqQ6gfKYpEd6zFV {
    color: var(--textSub) !important;
}

html[dir] ._1yN-2RY-MBaK8p4XBQETPt:hover {
    background-color: var(--divHighlightDouble) !important;
}

html[dir] ._1yN-2RY-MBaK8p4XBQETPt:hover .RWpBc_o_v_95R5yXLwSYd.root-177 {
    background: var(--divHighlightDouble) !important;
}

.RWpBc_o_v_95R5yXLwSYd, ._1cc9k3suxtaNjI2qls9Hyn:hover ._3SbuCUsVJf-1EKpQB7elXP, ._2JFzH-p-1ieTgPhOA-fk6h ._3SbuCUsVJf-1EKpQB7elXP {
    color: var(--textSub) !important;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 16px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px; */
}

._3TxuuJtqxFo_Bx_byYkj6J, .fmM0Eoc2D-r-jGmEFb-DR, ._2mSnSooJZhyZXTjEvXdQVv {
    color: var(--textMain) !important;
    /* display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    white-space: pre; */
}

.secondaryText-590, .ms-Persona-secondaryText {
    color: var(--textMainDis) !important;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
    display: block;
    height: 16px;
    line-height: 16px; */
}

html[dir] ._1L0Q0mM06z-wYLt8tdsUUB {
    background-color: var(--borderline) !important;
    /* border: none;
    margin: 0; */
}

._6XuaEEOIfLxUc2S-mx5xt {
    color: var(--textSub) !important;
}
/* ↑↑ 検索候補 ↑↑ */

/* ↓↓ レフトサイドバー ↓↓ */
.o365cs-base .o365sx-neutral-foreground-background, .o365cs-base .o365sx-neutral-foreground-hover-background:hover {
    background-color: var(--wallpaper) !important;
}

a._1f_xZYaR76amiIfYIOmZIX.o365sx-neutral-accent-hover-background.o365sx-neutral-accent-font:hover {
    background-color: var(--divHighlight) !important;
}

.o365cs-base .o365sx-neutral-accent-font, .o365cs-base .o365sx-neutral-accent-hover-font:hover {
    color: var(--tLightBlue) !important;
}

.o365cs-base .o365sx-neutral-dark-font, .o365cs-base .o365sx-neutral-dark-hover-font:hover {
    color: var(--textMain) !important;
}

.o365cs-base .XosamnChUoOcR_dGIrHqq:hover[href], .o365cs-base ._1Gm0wWdraaFnz8WO0s3t3y {
    background: var(--divHighlight) !important; 
    border-color: var(--borderline)!important;
    box-shadow: var(--shadow) !important;
    /* transition: border-color .167s linear,box-shadow .167s linear; */
}
.o365cs-base .o365sx-neutral-light-background, .o365cs-base .o365sx-neutral-light-hover-background:hover {
    background-color: var(--divHighlightDouble) !important;
}

.o365cs-base .o365sx-neutral-light-border, .o365cs-base .o365sx-neutral-light-hover-border:hover {
    border-color: var(--tLightGray) !important;
    color: var(--textMain) !important;
}

.o365cs-base .o365sx-neutral-accent-background, .o365cs-base .o365sx-neutral-accent-hover-background:hover {
    background-color: var(--tLightGrayOn) !important;
}

._3ZsJPsugEmiLt_KUNo-sUU {
    border: 1px solid var(--tLightBlue) !important;
    box-shadow: var(--shadow) !important;
    /* position: absolute;
    z-index: 1000000;
    background-color: #fff;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    box-sizing: border-box;
    outline: none;
    overflow-y: auto;
    visibility: visible;
    pointer-events: auto;
    border-radius: 2px;
    animation-duration: .15s;
    animation-name: contextMenu-slideIn;
    animation-timing-function: cubic-bezier(0,0,0,1);
    transform-origin: top;
    display: block;
    min-width: 180px!important;
    outline-width: 0;
    outline-color: invert; */
}

.o365cs-base .o365sx-neutral-secondary-font, .o365cs-base .o365sx-neutral-secondary-hover-font:hover {
    color: var(--textMainDis) !important;
}


.FAdEbQISkGJuszLsyYq5z ._1LmT2pyh06k_FxmBeyjKZG span .XosamnChUoOcR_dGIrHqq._1n9vI5wg5bqCLmNAR5woLV:hover {
    border-color: var(--borderline) !important;
}

.o365cs-base .o365sx-neutral-foregroundAlt-background, .o365cs-base .o365sx-neutral-foregroundAlt-hover-background:hover {
    background-color: var(--tLightGray) !important;
    color: var(--textBlack) !important;
}

.o365cs-base ._2HD3pqTJJLkz12NzBrj1LB:hover {
    border-color: var(--borderline) !important;
    box-shadow: var(--shadow) !important;
    /* transition: border-color .167s linear,box-shadow .167s linear;
    text-decoration: none;
    outline: none; */
}
/* ↑↑ レフトサイドバー ↑↑ */

/* ↓↓ レフトアイテムバー ↓↓ */
.f1c21dwh {
    background-color: var(--wallpaper) !important;
}

.fk7zsc9:hover {
    background: var(--divHighlightDouble) !important;
}

.f1ctqxl6 {
    background-color: var(--wallpaper) !important;
}

.f1vdjgj::before {
    border-top-color: var(--borderline) !important;
}
.fii7hsz::after {
    border-top-color: var(--borderline) !important;
}

.fui-FluentProvider.fui-FluentProvider1.___1g0n495.f19n0e5.fxugw4r.fk6fouc.fkhj508.figsok6 {
    border-right: 1px solid var(--borderline) !important;
}

.f1ee9zpc:hover button {
    background: var(--divHighlight) !important;
}
/* ↑↑ レフトアイテムバー ↑↑ */

.o365cs-base {
    color: var(--textSub) !important;
}
.o365cs-base .o365sx-neutral-lighter-background, .o365cs-base .o365sx-neutral-lighter-hover-background:hover {
    background-color: var(--divHighlight) !important;
}

/* ↓↓ お使いのブラウザーでは、owaを規定の電子メールハンドラーとして設定することがサポートされています。 ↓↓ */
html[dir] ._1jyFEGxMfFhvZV92csDVZ- {
    background-color: var(--tLightGray) !important;
}

._3B4UsI1dehrnOc21Qos61e {
    color: var(--textBlack) !important;
    /* width: 100%;
    font-weight: 600; */
}

._3B4UsI1dehrnOc21Qos61e button {
    color: var(--tLightBlue) !important;
}
.root-235:hover {
    color: var(--tLightBlueOn) !important;
    /* text-decoration: underline; */
}
/* ↑↑ お使いのブラウザーでは、owaを規定の電子メールハンドラーとして設定することがサポートされています。 ↑↑ */

/* ↓↓ レフトペイン ↓↓ */
html[dir] ._1qPqjoFrRhZTOpwH-IJ2UP {
    background-color: var(--wallpaper) !important;
    border-bottom: 1px solid var(--borderline) !important;
}

html[dir] ._2nxYvsT9VmpG24V7lwcfcu {
    background-color: var(--wallpaper) !important;
    border-bottom: 1px solid var(--borderline) !important;
}

html[dir] ._3I_zSwwDZFYNmkWij4VI2F {
    background-color: var(--wallpaper) !important;
}

._3YkNJYKjMvYWaDLQ_t6D9-, ._3YkNJYKjMvYWaDLQ_t6D9- .ms-Button-icon, ._3YkNJYKjMvYWaDLQ_t6D9- .ms-Button-menuIcon {
    color: var(--tLightBlue) !important;
}

html[dir] ._3YkNJYKjMvYWaDLQ_t6D9-:hover, html[dir] ._3YkNJYKjMvYWaDLQ_t6D9-:hover .ms-Button-icon, html[dir] ._3YkNJYKjMvYWaDLQ_t6D9-:hover .ms-Button-menuIcon {
    background: var(--tLightBlueBg) !important;
}

html[dir] ._3RzT6xOXHMpP9a5SLXbzC4:not(.Z2ln219tDs477eDBvVnsK):hover, html[dir] ._3RzT6xOXHMpP9a5SLXbzC4:not(.Z2ln219tDs477eDBvVnsK):hover .ms-Button-icon, html[dir] ._3RzT6xOXHMpP9a5SLXbzC4:not(.Z2ln219tDs477eDBvVnsK):hover .ms-Button-menuIcon {
    background: var(--tLightBlueBg) !important;
}

.root-185 {
    color: var(--textSub) !important;
    /* outline: transparent;
    position: relative;
    font-family: "Yu Gothic UI", "Meiryo UI", Meiryo, "MS Pgothic", Osaka, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    box-sizing: border-box;
    border-width: initial;
    border-style: none;
    border-image: initial;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: default;
    padding: 0px 4px;
    border-radius: 0px;
    min-width: 40px;
    background-color: var(--white);
    height: 34px;
    border-color: var(--neutralLighter);
    user-select: none; */
}

.root-185 .ms-Button-icon {
    color: var(--textSub) !important;
}

.ms-Button._3RzT6xOXHMpP9a5SLXbzC4._2s0A-A7NEhCVkip2jfI4KG.ms-Button--commandBar.is-disabled.Z2ln219tDs477eDBvVnsK.ms-CommandBarItem-link.root-185:hover {
    background: var(--divHighlight) !important;
}

._24FpkalvW30l66zFUdkI8G div div ._2f5JzhIau1fYVnCdnF6jed._3kaE-lp56xiPtiBK5bJWgr._2e45YSYkafAibqL8u3c2wj {
    background-color: var(--divHighlight) !important;
}

._1PkXPyxM3Hhk5H6YNvwMa1._3kaE-lp56xiPtiBK5bJWgr:hover .ms-Button.ms-Button--icon._249vbXlEbh-_Zlg2_z89J3._3Tc12ptS8HtxbTLAGzivrO.root-174 .ms-Button-flexContainer.flexContainer-159 .ms-Button-icon._3xjtFZiBm1DrWK64r3hZWK._2D6wm1spPIPn1G8mum7M8h.flipForRtl.icon-176 {
    color: var(--textMain) !important;
}

._3xjtFZiBm1DrWK64r3hZWK {
    color: var(--textSub) !important;
    /* width: 36px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; */
}

._1PkXPyxM3Hhk5H6YNvwMa1:hover ._3xjtFZiBm1DrWK64r3hZWK {
    color: var(--textSubMarked) !important;
}

._3fLh9Wjn6GR68OwcUckdM0 {
    color: var(--textMainDis) !important;
    /* -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400; */
}

._2f5JzhIau1fYVnCdnF6jed:hover ._3JuADJZrI8MDGlNxg_ila7, ._2f5JzhIau1fYVnCdnF6jed:hover ._3fLh9Wjn6GR68OwcUckdM0, ._1PkXPyxM3Hhk5H6YNvwMa1:hover ._3JuADJZrI8MDGlNxg_ila7, ._1PkXPyxM3Hhk5H6YNvwMa1:hover ._3fLh9Wjn6GR68OwcUckdM0 {
    color: var(--textMain) !important;
}

.LY59tV7oDi_ekjfK_th9x ._3fLh9Wjn6GR68OwcUckdM0, .LY59tV7oDi_ekjfK_th9x:hover ._3fLh9Wjn6GR68OwcUckdM0 {
    color: var(--tLightBlue) !important;
}

html[dir] .LY59tV7oDi_ekjfK_th9x:hover {
    background-color: var(--divHighlightDouble) !important;
}

html[dir=ltr] ._3m1vczpYw71MBM0vWJJV5y {
    border-right: 1px solid var(--borderline) !important;
    /* -webkit-box-shadow: inset -10px 0 10px -10px var(--blackTranslucent10);
    box-shadow: inset -10px 0 10px -10px var(--blackTranslucent10); */
}

html[dir=ltr] ._1mmhFz6xbEHFv6FfTUKPW2 {
    border-right: 1px solid var(--borderline) !important;
}
/* ↑↑ レフトペイン ↑↑ */

/* ↓↓ ミドルペイン ↓↓ */
html[dir] .w4T91TVJrRh9QNUdePUM0 {
    background-color: var(--wallpaper) !important;
    border-bottom: 1px solid var(--borderline) !important;
}
.root-177 {
    background: var(--wallpaper) !important;
    /* font-family: "Yu Gothic UI", "Meiryo UI", Meiryo, "MS Pgothic", Osaka, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    display: flex;
    padding: 0px 14px 0px 0px;
    height  : 44px; */
}

.root-178 {
    background: var(--wallpaper) !important;
    /* font-family: "Yu Gothic UI", "Meiryo UI", Meiryo, "MS Pgothic", Osaka, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    display: flex;
    padding: 0px 14px 0px 0px;
    height: 44px; */
}

._2f5JzhIau1fYVnCdnF6jed._3kaE-lp56xiPtiBK5bJWgr:hover .EyQ84bEUGumKAw5-dGNKI .root-177 {
    background: var(--divHighlight) !important;
}

html[dir] ._2f5JzhIau1fYVnCdnF6jed._2e45YSYkafAibqL8u3c2wj {
    background-color: var(--divHighlightDouble)!important;
}

._2f5JzhIau1fYVnCdnF6jed._2e45YSYkafAibqL8u3c2wj .EyQ84bEUGumKAw5-dGNKI .root-177 {
    background: var(--divHighlightDouble) !important;
}

._24FpkalvW30l66zFUdkI8G ._2f5JzhIau1fYVnCdnF6jed._3kaE-lp56xiPtiBK5bJWgr._2e45YSYkafAibqL8u3c2wj {
    background-color: var(--divHighlightDouble) !important;
}

html[dir] ._2f5JzhIau1fYVnCdnF6jed._2e45YSYkafAibqL8u3c2wj:hover {
    background: var(--divHighlight) !important;
}

html[dir] ._2f5JzhIau1fYVnCdnF6jed._4PTFGfGNvwm6oUh9tzojf ._2f5JzhIau1fYVnCdnF6jed:active:not(.d4wZ77_wLxg1bSKLqEfX7), html[dir] ._2f5JzhIau1fYVnCdnF6jed:hover:not(.LY59tV7oDi_ekjfK_th9x) {
    background-color: var(--divHighlight) !important;
}

html[dir] ._29Z3GpJ-h4tXQCOYyShJDr {
    background: var(--wallpaper) !important;
}

._3RzT6xOXHMpP9a5SLXbzC4:not(.Z2ln219tDs477eDBvVnsK), ._3RzT6xOXHMpP9a5SLXbzC4:not(.Z2ln219tDs477eDBvVnsK) .ms-Button-icon, ._3RzT6xOXHMpP9a5SLXbzC4:not(.Z2ln219tDs477eDBvVnsK) .ms-Button-menuIcon {
    color: var(--tLightBlue) !important;
}

html[dir] ._3H-aDJS5lve7ygwD0TXE6R {
    background-color: var(--wallpaper) !important;
}

._3TFJ6hWkkSKUtXUmmBYdBd._2yY8aBdtjO4JcToI6x-A-r {
    color: var(--textMain) !important;
}

._3TFJ6hWkkSKUtXUmmBYdBd {
    color: var(--textMain) !important;
}

html[dir=ltr] ._3TShXKcugWppOYRofyKkhd, html[dir=ltr] ._2ZzIEsVWXP6qn3zS_o2QEr {
    border-right: 1px solid var(--borderline) !important;
}

._9fiU2J67uJPVP0DBdOFMW {
    fill: var(--tLightBlue) !important;
    /* height: 100%;
    width: 100%;
    vertical-align: top; */
}
._1bMMwwXrtuDadMcc51CeCG, ._2FWQ1opcO_KfPmiQArqOQW {
    color: var(--tLightBlue) !important;
    /* cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 32px; */
}

.sh5_DUKOkzTT-nYJba5P {
    color: var(--tLightBlue) !important;
    /* font-weight: 400;
    font-size: 10px; */
}

html[dir] ._1bMMwwXrtuDadMcc51CeCG:hover {
    background-color: var(--cardHighlight) !important;
}

html[dir] ._3l1LPpECV0e33O0IU3JOWv {
    border-bottom: 1px solid var(--borderline) !important;
}

html[dir] ._3qXS6Uo8WFxax_lDWr_1a_ {
    background-color: var(--borderline) !important;
}

html[dir=ltr] ._1n2-cmjz7wai2ImcUAHRgH._1yeTnoNkSL8TQYVNlv8s43 {
    border-left-color: var(--themePrimary) !important;
}

._1rW_OaZRsPzZdsjSPd9D95, ._2OPXurjyQIi0T0EvMan2_j, ._1y3FkDsOHuxLnfkzQ8Dx7o, ._2ZDUqsleGa-jar5wAYvVzV {
    color: var(--textMain) !important;
    /* -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.oIybaolikVaXnYb_TcWkN, ._2NacLWmVBW3tI8rGb8xHpU {
    color: var(--textMainDis) !important;
    /* -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400; */
}

._24WqHp8mfxSp2QIJMkmSrM {
    color: var(--textSub) !important;
}

._1yeTnoNkSL8TQYVNlv8s43 ._1_fQat0axyW_3U1fNm3sam {
    color: var(--tLightBlue) !important;
}

html[dir] .Vq6wcpNKPy0sZ_F4WgCm-:hover._2t8JTlYe89E2LUOAQG564N {
    background-color: var(--divHighlightDouble) !important;
}

html[dir] .XirTdELItKhIpkqfelgS0 {
    background-color: var(--divHighlightDouble) !important;
}

html[dir] ._1uwuAQ2QH43CUW4Q39EvLG {
    background-color: var(--card) !important;
    /* margin-bottom: 1px; */
}

._1uwuAQ2QH43CUW4Q39EvLG {
    color: var(--textMain) !important;
    /* cursor: default;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 400;
    font-weight: 600; */
}

html[dir=ltr] ._1n2-cmjz7wai2ImcUAHRgH._1yeTnoNkSL8TQYVNlv8s43 {
    border-left-color: var(--tLightGreen) !important;
}

._2XMKAP__36nlIDkPeGTX6O._29Z3GpJ-h4tXQCOYyShJDr._2pK1doJG-kt3aHOz9-MuVh._28eQjCeoIvuoWezEN6I1TD._1HRYUlyNJxKAmWRwU1hRUW.mp261qEkOekw5ILfUt_db {
    background: transparent !important;
}

.ms-Button._2V1cYkSGkt2ILqtY7JtrZ4._24HWQfh2dYswYUsTsCac5t.ms-Button--icon.root-174 {
    color: var(--textSub) !important;
}

.ms-Button._2V1cYkSGkt2ILqtY7JtrZ4._24HWQfh2dYswYUsTsCac5t.ms-Button--icon.root-174[aria-label=未開封にする]:hover,
.ms-Button._2V1cYkSGkt2ILqtY7JtrZ4._24HWQfh2dYswYUsTsCac5t.ms-Button--icon.root-174[aria-label=開封済みにする]:hover {
    color: var(--tLightBlue) !important; 
}
.ms-Button._2V1cYkSGkt2ILqtY7JtrZ4._24HWQfh2dYswYUsTsCac5t.ms-Button--icon.root-174[aria-label=このメッセージにフラグを付ける]:hover {
    color: var(--tLightGreen) !important; 
}
.ms-Button._2V1cYkSGkt2ILqtY7JtrZ4._24HWQfh2dYswYUsTsCac5t.ms-Button--icon.root-174[aria-label=このメッセージを常にフォルダーの先頭に表示する]:hover {
    color: var(--tPink) !important; 
}

._2XMKAP__36nlIDkPeGTX6O._29Z3GpJ-h4tXQCOYyShJDr._2pK1doJG-kt3aHOz9-MuVh._28eQjCeoIvuoWezEN6I1TD._1HRYUlyNJxKAmWRwU1hRUW.mp261qEkOekw5ILfUt_db .ms-Button._2V1cYkSGkt2ILqtY7JtrZ4._24HWQfh2dYswYUsTsCac5t.ms-Button--icon.root-174[aria-label=未開封にする]:hover,
._2XMKAP__36nlIDkPeGTX6O._29Z3GpJ-h4tXQCOYyShJDr._2pK1doJG-kt3aHOz9-MuVh._28eQjCeoIvuoWezEN6I1TD._1HRYUlyNJxKAmWRwU1hRUW.mp261qEkOekw5ILfUt_db .ms-Button._2V1cYkSGkt2ILqtY7JtrZ4._24HWQfh2dYswYUsTsCac5t.ms-Button--icon.root-174[aria-label=開封済みにする]:hover {
    background-color: var(--tLightBlueBg) !important;
}

._2XMKAP__36nlIDkPeGTX6O._29Z3GpJ-h4tXQCOYyShJDr._2pK1doJG-kt3aHOz9-MuVh._28eQjCeoIvuoWezEN6I1TD._1HRYUlyNJxKAmWRwU1hRUW.mp261qEkOekw5ILfUt_db .ms-Button._2V1cYkSGkt2ILqtY7JtrZ4._24HWQfh2dYswYUsTsCac5t.ms-Button--icon.root-174[aria-label=このメッセージにフラグを付ける]:hover {
    background-color: var(--tLightGreenBg) !important;
}

._2XMKAP__36nlIDkPeGTX6O._29Z3GpJ-h4tXQCOYyShJDr._2pK1doJG-kt3aHOz9-MuVh._28eQjCeoIvuoWezEN6I1TD._1HRYUlyNJxKAmWRwU1hRUW.mp261qEkOekw5ILfUt_db .ms-Button._2V1cYkSGkt2ILqtY7JtrZ4._24HWQfh2dYswYUsTsCac5t.ms-Button--icon.root-174[aria-label=このメッセージを常にフォルダーの先頭に表示する]:hover {
    background-color: var(--tPinkBg) !important;
}

._1n2-cmjz7wai2ImcUAHRgH:hover ._2HVMjLCKncxtDgDMzlqtZQ:hover._1iwiJrN5xkH8frMzztH-_n {
    color: var(--tRed) !important;
}

html[dir] ._1n2-cmjz7wai2ImcUAHRgH:hover ._2HVMjLCKncxtDgDMzlqtZQ:hover._1iwiJrN5xkH8frMzztH-_n {
    background: var(--tRedBg) !important;
}

html[dir] ._3PlNpKPPQchwjIYfcUSrwi {
    background-color: var(--wallpaperDark) !important;
}
/* ↑↑ ミドルペイン ↑↑ */

/* ↓↓ ライトペイン ↓↓ */
html[dir] ._2qM5JFJlSDFbw17aZw2PSp {
    background-color: var(--wallpaper) !important;
}

._1CvCjQzRJKCSxkdDWSwdLl {
    color: var(--textMainDis) !important;
    /* font-weight: 600;
    font-size: 14px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; */
}

._3RLXFi5agLtNh9jNXXl_SL {
    color: var(--textSub) !important;
    /* font-size: 14px; */
}

html[dir] ._18Sy4grXNeT6XfdUGN6qj.NN4ve7-zXI11J6Er51ULd, html[dir] ._3BL964mseejjC_nzEeda9o.NN4ve7-zXI11J6Er51ULd {
    border: 1px solid var(--borderline) !important;
    box-shadow: var(--shadow) !important;
}

html[dir] ._3BL964mseejjC_nzEeda9o {
    background: var(--card) !important;
    /* padding: 0 12px 12px 12px; */
}

.kECBnJ3yiP6qYA3x09fyj, ._3274s_7xHm3jhAV8u_An3v, ._3HWDmPvwbfbJdx0zvu6Bve {
    color: var(--textMain) !important;
    /* font-size: 14px;
    font-weight: 400; */
}

._24i22iNhbLz_Hc8BeXBUwc {
    color: var(--textMainDis) !important;
    /* font-size: 12px;
    font-weight: 400; */
}

._2rDm8onO3AzHL_RgEizmFz, ._33DdLc91Do1uLzjVVQrYVm {
    color: var(--textMainDis) !important;
    /* font-size: 12px;
    font-weight: 400;
    position: relative; */
}

._2Qk4AbDuWwkuLB005ds2jm {
    color: var(--textMain) !important;
    /* font-size: 15px;
    font-weight: 400; */
}

html[dir=ltr] ._3CbLhTPTmpzMzBFyiGPfe4 {
    border-left: 1px solid var(--tLightBlue) !important;
    color: var(--textMainDis) !important;
}

html[dir] ._2SAgzfLK_5Ndk0nG1HhYMs {
    border-bottom-color: var(--borderline) !important;    
    /* border-bottom: 1px solid; */
}

html[dir] ._18Sy4grXNeT6XfdUGN6qj, html[dir] ._3BL964mseejjC_nzEeda9o {
    border: 1px solid var(--borderline) !important;
    box-shadow: var(--shadow) !important;
    /* border-radius: 2px; */
}

html[dir] ._18Sy4grXNeT6XfdUGN6qj {
    background: var(--card) !important;
    /* padding: 0 12px; */
}

html[dir] ._18Sy4grXNeT6XfdUGN6qj:hover {
    background-color: var(--cardHighlight) !important;
    border: 1px solid var(--borderline) !important; 
}

._1xO8hCYBq-GOaGwTvCz4C1 {
    color: var(--textSub) !important;
    /* font-size: 12px;
    font-weight: 400; */
}

html[dir] .LXc0AFtlSiX4R6aYow6BV {
    background-color: var(--wallpaperBlur) !important;
    backdrop-filter: blur(12px) !important;
}

._2bnn4NUZa-NanNIO4GItP0 {
    color: var(--textSub) !important;
    /* font-size: 17px;
    font-weight: 300;
    font-weight: 600;
    display: inline;
    word-break: break-word; */
}

html[dir] ._2BccY5KAu3TwOwcFElMtGS:hover {
    background-color: var(--cardHighlight) !important;
    border: 1px solid var(--borderline) !important;
}

.body-155 {
    background: transparent !important;
    /* color: var(--neutralPrimary);
    font-family: "Yu Gothic UI", "Meiryo UI", Meiryo, "MS Pgothic", Osaka, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased; */
}

html[dir] ._1ZX62iM9tZculzHA923LTX:hover:not([disabled]) {
    background-color: var(--cardHighlight) !important;
    border: 1px solid var(--borderline) !important; 
}

._3elxfLs8GcU_Dugz30Zho0 {
    color: var(--tLightBlue) !important;
}

._2BccY5KAu3TwOwcFElMtGS._3STduknLPfM7K-CoVTL9Zp.ms-Button .ms-Button-icon, ._2BccY5KAu3TwOwcFElMtGS._3STduknLPfM7K-CoVTL9Zp.ms-Button .ms-Button-menuIcon, ._2BccY5KAu3TwOwcFElMtGS:active.ms-Button .ms-Button-icon, ._2BccY5KAu3TwOwcFElMtGS:active.ms-Button .ms-Button-menuIcon, ._2BccY5KAu3TwOwcFElMtGS:hover.ms-Button .ms-Button-icon, ._2BccY5KAu3TwOwcFElMtGS:hover.ms-Button .ms-Button-menuIcon {
    color: var(--tLightBlueOn) !important;    
}

._1ZX62iM9tZculzHA923LTX:active:not([disabled]).ms-Button, ._1ZX62iM9tZculzHA923LTX:hover:not([disabled]).ms-Button {
    color: var(--tLightBlueOn) !important;
}

html[dir] ._2iWl1qSrTwtGaG9a-cxEKS {
    background-color: var(--tLightGray) !important;
    /* margin-top: 12px;
    border-radius: 2px; */
}

html[dir] ._2iWl1qSrTwtGaG9a-cxEKS:hover {
    background-color: var(--tLightGrayOn) !important;
}

html[dir=ltr] ._3QCsM9-LPIxe1EDTYYKDn0 {
    border-left: 1px solid var(--borderline) !important;
    color:var(--textMainDis) !important;
}

html[dir=ltr] ._3QCsM9-LPIxe1EDTYYKDn0 a {
    color: var(--tLightBlue) !important;
}

._2GG5DCfEUIXZHxCIKRo7UB {
    color: var(--textSub) !important;
}

html[dir] ._2GG5DCfEUIXZHxCIKRo7UB:hover {
    background-color: var(--divHighlight) !important;
    border: 1px solid var(--borderline) !important;
}
/* ↑↑ ライトペイン ↑↑ */

.ms-Persona-initials .root-177 {
    background: transparent !important;
}

/* ↓↓ ロード中 ↓↓ */
#loadingScreen {
    background-color: var(--wallpaper) !important;
    /* position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}

html[dir] body {
    background-color: var(--wallpaper) !important;
}

html[dir] ._3cGn21Hgi7DFUbUhlRCP46 {
    background-color: var(--wallpaper) !important;
}
/* ↑↑ ロード中 ↑↑ */

/* ↓↓ コンテクストメニュー ↓↓ */
/* ↑↑ コンテクストメニュー ↑↑ */

/* ↓↓ ○○○○○○○○ ↓↓ */
/* ↑↑ ○○○○○○○○ ↑↑ */